<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Job Position
            </th>
            <th>
                Since
            </th>
            <th>
                Salary
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Andrew Mike
            </td>
            <td>
                Develop
            </td>
            <td>
                2013
            </td>
            <td>
                € 99,225
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                John Doe
            </td>
            <td>
                Design
            </td>
            <td>
                2012
            </td>
            <td>
                € 89,241
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Alex Mike
            </td>
            <td>
                Design
            </td>
            <td>
                2010
            </td>
            <td>
                € 92,144
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Mike Monday
            </td>
            <td>
                Marketing
            </td>
            <td>
                2013
            </td>
            <td>
                € 49,990
            </td>
            <td></td>
        </tr>
    </tbody>
</table>