<button class="btn btn-link">Default</button>
<button class="btn btn-link btn-primary ">Primary</button>
<button class="btn btn-link btn-info">Info</button>
<button class="btn btn-link btn-success">Success</button>
<button class="btn btn-link btn-warning">Warning</button>
<button class="btn btn-link btn-danger">Danger</button>
