#pageContent {
    background: white;
    width: 100%;
    min-height: 100vh;
}

#headerDiv {
    padding: 0;
    background-color: #607D8B;
    min-height: 40px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    padding-left: 1%;
    opacity: 1;
    width: 100%;
    padding: 0;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
    height: 40px;
}

#headerDivLink {
    background: url(newimages/logo.svg) no-repeat 0px 0px;
    transition: all 0.8s;
    height: 30px;
    width: 60px;
    margin-left: 40px;
    cursor: pointer;
    background-size: cover;
    position: relative;
    top: 5px;
}

UL#subnavlist {
    display: flex;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 300px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    top: 4px;
    position: relative;
}

#lblUserPrefix, #lblUserInfoName, #active>img {
    display: none;
}

UL#subnavlist LI A {
    font-size: 0px;
    border: none;
}

UL#navlist LI A:hover {
    color: transparent;
    background-color: transparent;
}

UL#subnavlist LI {
    border: none;
}

#hlAccountMaintenance {
    background: url(newimages/gear.svg) no-repeat center;
    transition: all 0.8s;
    height: 30px;
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
    background-size: contain;
    position: relative;
    top: 5px;
    display: block;
}

#accountMaintenanceMenuItem {
    margin-right: 16px;
}

#hlLogout {
    background: url(newimages/logout.svg) no-repeat center;
    transition: all 0.8s;
    height: 30px;
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
    background-size: contain;
    position: relative;
    top: 5px;
    display: block;
}

#clientHomeReportOptions {
    overflow: visible;
    border: none;
}

#clientHomeReportOptions DIV {
    float: none!important;
}

#headerText {
    display: none;
}

#pNewReportOptions {
    margin-bottom: 16px;
    margin-left: 300px;
    float: none!important;
}

#pNewReportOptions h2 {
    font-size: 22px;
    margin: 0px;
}

#clientHomeReportOptions P {
    FONT-SIZE: 12px;
    OVERFLOW: visible;
}

#clientHomeReportOptions SELECT {
    left: -2px;
    position: relative;
}

#CreateReportBtnAsp, #CreateReportButton {
    font-size: 11px;
    text-transform: uppercase;
    width: 215px;
    display: block;
    padding: 5px;
    margin: 0;
    height: auto;
}

#CreateReportBtnAsp {
    margin-bottom: 8px;
}

#pnlEmployerLocations + div {
    
    display: inline-block!important;
    float: none;
}

#clientHomeReports {
    display: flex;
    margin: 0px;
}

#clientHomeReportsFilters {
    position: fixed;
    top: 40px;
    background-color: #37474F;
    color: white;
    width: 250px;
    padding: 20px;
    padding-top: 50px;
    min-height: 100vh;
}
#clientHomeReportsFilters P {
    color: white;
    text-transform: uppercase;
}
#clientHomeReportsFilters h2 {
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    display: none;
}


#clientHomeTableDiv {
    WIDTH: 100%!important;
    margin-left: 300px;
    margin-right: 5%;
    background: none;
}

#bReset {
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    transition: background-color .3s;
}
#clientHomeReportsFilters A {
    float: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#txtSearchCriteria {
    margin-bottom: 25px;
}

#btnSearch {
    background: #0175bf;
    transition: all .3s;
}

#btnSearch:hover {
    text-decoration: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    background-color: #0065A6;
}

#bReset:hover {
    text-decoration: none;
    background-color: #ffffff1a;
}

#gvReports {
    width: 100%!important;
    border: none;
    background: none;
}

#gvReports tbody tr:first-child {
    border-bottom: 3px solid #cacaca;
}

.defaultDataGrid TH {
    background: none;
    color: black;
    border: none;
}

.defaultDataGrid TH a {
    background: none;
    color: #666;
    text-transform: uppercase;
}

.defaultDataGrid TH a:hover {
    text-decoration: none;
    color: #888;
}

.defaultDataGrid TD {
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#lbClaimantName {
    color: #0175bf;
    transition: color .3s;
}

#lbClaimantName:hover {
    color: #0065A6;
    text-decoration: none;
}

#copyrightDiv {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    letter-spacing: 0;
}

#hlPdf>img {display: none;}
#hlPdf {
    background: url(newimages/gear.svg) no-repeat center;
    width: 25px;
    height: 25px;
    display: block;
}