<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        <span class="form-check-sign"></span>
        Unchecked
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" checked="">
        <span class="form-check-sign"></span>
        Checked
    </label>
</div>

<div class="form-check disabled">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" disabled="">
        <span class="form-check-sign"></span>
        Disabled Unchecked
    </label>
</div>

<div class="form-check disabled">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" checked="" disabled="">
        <span class="form-check-sign"></span>
        Disabled Checked
    </label>
</div>