* {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
* {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
*:before {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
*:after {
	BOX-SIZING: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
BODY {
	FONT-SIZE: 14px; BACKGROUND: url(../images/bg_tile.jpg) #789 0px 0px; COLOR: #666; TEXT-ALIGN: center
}
BODY {
	FONT-FAMILY: Arial, sans-serif
}
TD {
	FONT-FAMILY: Arial, sans-serif
}
A {
	FONT-FAMILY: Arial, sans-serif
}
P {
	FONT-FAMILY: Arial, sans-serif
}
A:link {
	COLOR: #369
}
A:visited {
	COLOR: #036
}
A:hover {
	COLOR: #69c
}
A:active {
	COLOR: #0000ff
}
H1 {
	FONT-SIZE: 2em; COLOR: #036
}
H2 {
	FONT-SIZE: 1.5em; COLOR: #369
}
H3 {
	FONT-SIZE: 1.25em; COLOR: #369
}
HR {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CLEAR: both; DISPLAY: block; BORDER-TOP-WIDTH: 0px; BACKGROUND-COLOR: #ccc
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
INPUT {
	BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; WIDTH: 100%; BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; Z-INDEX: 1
}
SELECT {
	BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; WIDTH: 100%; BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; Z-INDEX: 1
}
TEXTAREA {
	BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; WIDTH: 100%; BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; Z-INDEX: 1
}
INPUT[type='checkbox'] {
	WIDTH: 20px
}
#pageContent {
	WIDTH: 970px; BACKGROUND: url(../images/header_bg.png) #fff no-repeat 0px 0px; TEXT-ALIGN: left; FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); MARGIN: auto; -moz-box-shadow: 3px 3px 4px #000; -webkit-box-shadow: 3px 3px 4px #000; box-shadow: 3px 3px 4px #000; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
}
#headerDiv {
	HEIGHT: 90px; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 20px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px
}
#headerDiv H1 {
	CLEAR: both; MARGIN: 40px 10px 10px 4px
}
#headerDivLink {
	CURSOR: pointer; HEIGHT: 45px; WIDTH: 67px; BACKGROUND: url(../images/York_no_tag.png) #fff no-repeat 0px 0px; DISPLAY: block
}
#userInfoDiv {
	OVERFLOW: visible; CURSOR: pointer; HEIGHT: 3em; WIDTH: 700px; WHITE-SPACE: nowrap; POSITION: relative; FLOAT: right; FONT-WEIGHT: bold; COLOR: #69c; TEXT-ALIGN: right; MARGIN: -5px 0px 0px
}
#userInfoDiv IMG {
	VERTICAL-ALIGN: bottom; MARGIN-LEFT: 5px
}
.userInfoName {
	COLOR: #9cf
}
#loginContent {
	FLOAT: left
}
#loginContent {
	WIDTH: 400px; COLOR: #666; TEXT-ALIGN: left; MARGIN: 60px 20px
}
#welcomeContent {
	WIDTH: 400px; COLOR: #666; TEXT-ALIGN: left; MARGIN: 60px 20px
}
#loginContent P {
	MARGIN-TOP: 15px
}
#loginContent INPUT {
	WIDTH: 200px
}
#welcomeContent {
	FLOAT: right
}
#welcomeContent H3 {
	TEXT-ALIGN: left; MARGIN-TOP: 20px
}
#accountEditContent {
	WIDTH: 670px; TEXT-ALIGN: left; MARGIN: 10px
}
#accountEditContent H2 {
	MARGIN: 30px 0px 0px 20px
}
#accountRequestContent {
	WIDTH: 680px; TEXT-ALIGN: left; CLEAR: both; MARGIN: 30px auto
}
#accountRequestContent P {
	OVERFLOW: hidden; FONT-SIZE: 10px; HEIGHT: 35px; WIDTH: 280px; FLOAT: left; COLOR: #999; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#accountEditContent P {
	OVERFLOW: hidden; FONT-SIZE: 10px; HEIGHT: 35px; WIDTH: 280px; FLOAT: left; COLOR: #999; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#departmentSelectContent {
	WIDTH: 250px; FLOAT: right; TEXT-ALIGN: left; MARGIN: 10px
}
#departmentSelectContent P {
	MARGIN-BOTTOM: 10px
}
#departmentSelectContent P SPAN {
	FONT-SIZE: 1.1em; FONT-WEIGHT: bold; COLOR: #333
}
#departmentSelectContent P INPUT {
	WIDTH: 80px
}
#departmentEditPanel {
	HEIGHT: 260px
}
#departmentOptions {
	WIDTH: 660px; CLEAR: left
}
#departmentOptions P {
	WIDTH: 500px
}
#departmentOptions SELECT {
	WIDTH: 50px; FLOAT: left; MARGIN-LEFT: 20px; CLEAR: left; MARGIN-TOP: 10px
}
#arCompanyName {
	WIDTH: 340px !important
}
#arStreetAddress {
	WIDTH: 470px !important
}
#arCompanyType {
	WIDTH: 150px !important
}
#arState {
	WIDTH: 50px !important
}
#arZip {
	WIDTH: 80px !important
}
#arUnempNo {
	WIDTH: 170px !important
}
#arContactTitle {
	WIDTH: 340px !important
}
#arPhone {
	OVERFLOW: visible !important; PADDING-RIGHT: 0px !important
}
#arExt {
	OVERFLOW: visible !important; WIDTH: 50px !important; PADDING-LEFT: 0px !important
}
#arSubmitButtons {
	WIDTH: 100% !important; TEXT-ALIGN: center
}
#arSubmitButtons P {
	WIDTH: 200px
}
#aeChangePassword {
	MARGIN-TOP: 10px
}
#aeChangePassword INPUT {
	
}
#aeLogout {
	FLOAT: right
}
#clientHomeReportOptions {
	OVERFLOW: hidden; WIDTH: 930px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 20px; TEXT-ALIGN: left; MARGIN: 20px
}
#clientHomeReportOptions A {
	MARGIN-TOP: 12px; DISPLAY: inline-block
}
#clientHomeReportOptions DIV {
	FLOAT: left
}
#clientHomeReportOptions H2 {
	MARGIN: 30px 0px 10px 5px
}
#clientHomeReportOptions P {
	OVERFLOW: hidden; FONT-SIZE: 10px; WIDTH: auto !important; FLOAT: left; COLOR: #666; MARGIN: 0px 15px 0px 0px
}
#clientHomeReportOptions SELECT {
	MAX-WIDTH: 425px; WIDTH: auto !important; MIN-WIDTH: 150px
}
#clientHomeReports {
	TEXT-ALIGN: left; CLEAR: both; MARGIN: 20px
}
#clientHomeReportsFilters {
	WIDTH: 210px; FLOAT: right; MARGIN: 0px
}
#clientHomeReportsFilters A {
	FLOAT: right
}
#clientHomeReportsFilters H2 {
	COLOR: #999
}
#clientHomeReportsFilters HR {
	BORDER-LEFT-WIDTH: 0px; MARGIN-BOTTOM: 20px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-BOTTOM-WIDTH: 0px; DISPLAY: block; BORDER-TOP-WIDTH: 0px; BACKGROUND-COLOR: #ccc
}
#clientHomeReportsFilters INPUT {
	WIDTH: 98%
}
#clientHomeReportsFilters P {
	MARGIN-BOTTOM: 15px; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #999
}
#chrResetButton {
	WIDTH: 36% !important; FLOAT: left; TEXT-ALIGN: left !important; MARGIN: 0px
}
#chrSearchButton {
	WIDTH: 47% !important; FLOAT: right; MARGIN: 0px
}
.clientHomeReportGrid {
	WIDTH: 100%
}
#clientHomeTableDiv {
	HEIGHT: 321px; WIDTH: 636px; BACKGROUND-COLOR: #eee
}
#clientHomeLogout {
	TEXT-ALIGN: right; MARGIN-TOP: 150px
}
#submissionFormTitle {
	OVERFLOW: auto; MARGIN-LEFT: 10px
}
#formDiv {
	WIDTH: 875px; CLEAR: both; MARGIN: 0px auto
}
#formDiv SPAN DIV {
	OVERFLOW: visible; FONT-SIZE: 11px; HEIGHT: 55px; WIDTH: 218px; FLOAT: left; COLOR: #666; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 10px
}
.validatorGlyph {
	HEIGHT: 14px; WIDTH: 14px; BACKGROUND: url(../images/valGlyph.png) #fff no-repeat 0px 0px; RIGHT: -18px; POSITION: relative; FLOAT: right; TOP: -16px
}
#backgroundPopup {
	BORDER-TOP: #d5be6e 1px solid; HEIGHT: 100%; BORDER-RIGHT: #d5be6e 1px solid; WIDTH: 100%; BACKGROUND: #000; BORDER-BOTTOM: #d5be6e 1px solid; POSITION: fixed; LEFT: 0px; BORDER-LEFT: #d5be6e 1px solid; Z-INDEX: 2; DISPLAY: none; TOP: 0px; _position: absolute
}
#popupContact {
	OVERFLOW: visible; BORDER-TOP: #036 2px solid; BORDER-RIGHT: #036 2px solid; WIDTH: 500px; BACKGROUND: #fff; BORDER-BOTTOM: #036 2px solid; POSITION: fixed; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #036 2px solid; Z-INDEX: 3; DISPLAY: none; PADDING-RIGHT: 10px; _position: absolute
}
#popupContact TEXTAREA {
	HEIGHT: 200px
}
#popupContact A {
	FLOAT: right; MARGIN: 5px 10px 0px 15px; DISPLAY: block
}
INPUT[type='radio'] {
	BORDER-TOP-STYLE: none !important; BORDER-BOTTOM-STYLE: none !important; BORDER-RIGHT-STYLE: none !important; BORDER-LEFT-STYLE: none !important
}
#gridOverlayBackground {
	BORDER-TOP: #d5be6e 1px solid; HEIGHT: 100%; BORDER-RIGHT: #d5be6e 1px solid; WIDTH: 100%; BACKGROUND: #000; BORDER-BOTTOM: #d5be6e 1px solid; POSITION: fixed; LEFT: 0px; BORDER-LEFT: #d5be6e 1px solid; Z-INDEX: 2; DISPLAY: none; TOP: 0px; _position: absolute
}
#overlayBackground {
	BORDER-TOP: #d5be6e 1px solid; HEIGHT: 100%; BORDER-RIGHT: #d5be6e 1px solid; WIDTH: 100%; BACKGROUND: #000; BORDER-BOTTOM: #d5be6e 1px solid; POSITION: fixed; LEFT: 0px; BORDER-LEFT: #d5be6e 1px solid; Z-INDEX: 3; DISPLAY: none; TOP: 0px; _position: absolute
}
#popupGrid {
	OVERFLOW: visible; BORDER-TOP: #036 2px solid; BORDER-RIGHT: #036 2px solid; WIDTH: 825px; BACKGROUND: #fff; BORDER-BOTTOM: #036 2px solid; POSITION: fixed; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #036 2px solid; Z-INDEX: 3; DISPLAY: none; PADDING-RIGHT: 10px; _position: absolute
}
.hidden {
	DISPLAY: none
}
#warningContent {
	TEXT-ALIGN: center
}
#warningContent .dataLabel {
	COLOR: #036
}
#warningContent .dataValue {
	COLOR: #036
}
#oscReviewContent .dataLabel {
	FONT-WEIGHT: normal; MARGIN: 0px 0.4em 0px 1em
}
#warningContent .dataLabel {
	FONT-WEIGHT: normal; MARGIN: 0px 0.4em 0px 1em
}
#oscReviewContent .dataValue {
	FONT-WEIGHT: bold
}
#oscReviewContent P {
	MARGIN: 0.5em
}
#divDuplicateGridButtons {
	FLOAT: right
}
#divDuplicateGridButtons INPUT {
	MARGIN: 15px 0px 0px 15px
}
#divDuplicateGridButtons A {
	MARGIN: 15px 0px 0px 15px
}
#oscReviewContent {
	PADDING-BOTTOM: 1em; TEXT-ALIGN: center; PADDING-TOP: 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em
}
#divSubmitButtonsTop {
	FLOAT: right; TEXT-ALIGN: right; MARGIN: 5px 10px 0px 0px
}
#divSubmitButtonsBottom {
	FLOAT: right; TEXT-ALIGN: right; MARGIN: 5px 10px 0px 0px
}
#divSubmitButtonsTop {
	WIDTH: 40%
}
#divSubmitButtonsTop INPUT {
	WIDTH: 150px; FLOAT: right; MARGIN-LEFT: 15px
}
#divSubmitButtonsBottom INPUT {
	WIDTH: 150px; FLOAT: right; MARGIN-LEFT: 15px
}
#divSubmitButtonsTop P {
	FLOAT: right; MARGIN-TOP: 2px; DISPLAY: block
}
#divSubmitButtonsBottom P {
	FLOAT: right; MARGIN-TOP: 2px; DISPLAY: block
}
#divSubmitButtonsTop IMG {
	VERTICAL-ALIGN: middle
}
#divSubmitButtonsBottom IMG {
	VERTICAL-ALIGN: middle
}
#valHelpTop {
	FLOAT: right; CLEAR: both; MARGIN: 0px 10px 10px 0px
}
#valHelpBottom {
	FLOAT: right; CLEAR: both; MARGIN: 0px 10px 10px 0px
}
#valHelpTop IMG {
	VERTICAL-ALIGN: bottom; MARGIN-RIGHT: 5px
}
#valHelpBottom IMG {
	VERTICAL-ALIGN: bottom; MARGIN-RIGHT: 5px
}
#divReqFieldKey {
	PADDING-BOTTOM: 10px; FONT-STYLE: italic; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 0px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #fff
}
#divReqFieldKey P {
	MARGIN: 10px
}
#divReqFieldKey IMG {
	VERTICAL-ALIGN: middle
}
#submissionConfirmationContent {
	TEXT-ALIGN: center
}
#submissionConfirmationContent P {
	MARGIN: 100px 0px
}
#submissionConfirmationContent .thankYouHead {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#submissionConfirmationContent .thankYouContent {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#submissionConfirmationContent .thankYouHead {
	MARGIN-BOTTOM: 0.5em; FONT-SIZE: 1.15em; FONT-WEIGHT: bold; COLOR: #369
}
#submissionConfirmationContent .thankYouContent SPAN {
	FONT-WEIGHT: bold
}
#thankYouContent {
	MARGIN: 30px
}
#thankYouContent H1 {
	MARGIN-BOTTOM: 40px; TEXT-ALIGN: left
}
#thankYouContent > P A {
	MARGIN: 60px; DISPLAY: block
}
#errorPageContent {
	TEXT-ALIGN: center; MARGIN: 60px
}
#errorPageContent H2 {
	COLOR: red
}
#errorPageContent P {
	MARGIN-BOTTOM: 40px
}
#copyrightDiv {
	FONT-SIZE: 12px; COLOR: #789; PADDING-BOTTOM: 5px; FONT-STYLE: italic; TEXT-ALIGN: center; PADDING-TOP: 30px; PADDING-LEFT: 5px; CLEAR: both; LETTER-SPACING: 2px; PADDING-RIGHT: 5px
}
#adminYorkNavContent {
	WIDTH: 600px; MARGIN: 30px auto 100px
}
#adminYorkNavContent H1 {
	TEXT-ALIGN: left
}
#adminYorkNavContent P {
	FONT-SIZE: 1.25em; FONT-WEIGHT: bold; TEXT-ALIGN: left; MARGIN: 10px 0px 10px 150px
}
.alignRight {
	TEXT-ALIGN: right !important
}
.checkboxDefault {
	WIDTH: auto
}
.clearFloat {
	CLEAR: both
}
.defaultDataGrid {
	BORDER-TOP: #369 1px solid; BORDER-RIGHT: #369 1px solid; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: #369 1px solid; BORDER-LEFT: #369 1px solid; BACKGROUND-COLOR: #fff
}
.defaultDataGrid TD {
	FONT-SIZE: 11px; BORDER-TOP: #c1c1c1 1px solid; BORDER-RIGHT: #c1c1c1 1px solid; BORDER-BOTTOM: #c1c1c1 1px solid; COLOR: #717171; PADDING-BOTTOM: 3px; TEXT-ALIGN: left; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #c1c1c1 1px solid; PADDING-RIGHT: 3px
}
.defaultDataGrid TD A {
	COLOR: #369
}
.defaultDataGrid TD A:hover {
	COLOR: #036
}
.defaultDataGrid TH {
	FONT-SIZE: 0.9em; BACKGROUND: url(../images/grd_head.png) #369 repeat-x 50% top; COLOR: #fff; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 3px; BORDER-LEFT: #369 1px solid; PADDING-RIGHT: 3px
}
.defaultDataGrid TH A {
	FONT-SIZE: 0.9em; COLOR: #fff
}
.defaultDataGrid TH A:hover {
	COLOR: #eee
}
.defaultDataGrid .defaultGridAlt {
	BACKGROUND: #eef6fb
}
.defaultDataGrid .defaultGridPgr {
	BACKGROUND: url(../images/grd_pgr.png) #369 repeat-x 50% top
}
.defaultDataGrid .defaultGridPgr TABLE {
	MARGIN: 5px 0px
}
.defaultDataGrid .defaultGridPgr TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; BORDER-LEFT: #69c 1px solid; LINE-HEIGHT: 1.3em; PADDING-RIGHT: 6px; BORDER-TOP-WIDTH: 0px
}
.defaultDataGrid .defaultGridPgr A {
	TEXT-DECORATION: none; COLOR: #9cf
}
.defaultDataGrid .defaultGridPgr A:hover {
	TEXT-DECORATION: none; COLOR: #69c
}
.fieldLabel {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; DISPLAY: block
}
.filterButton {
	BORDER-TOP-STYLE: none; CURSOR: pointer; TEXT-DECORATION: none; WIDTH: auto !important; BACKGROUND: url(../images/filterButton_bg.png) #fff repeat-x 50% top; BORDER-BOTTOM-STYLE: none; FONT-WEIGHT: bold; COLOR: #fff !important; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 2em; BORDER-LEFT-STYLE: none; PADDING-RIGHT: 2em
}
.filterButton:hover {
	BACKGROUND: url(../images/filterButton_hover_bg.png) #fff repeat-x 50% top
}
.inputButton {
	BORDER-TOP-STYLE: none; CURSOR: pointer; TEXT-DECORATION: none; WIDTH: auto !important; BACKGROUND: url(../images/button_bg.png) #fff repeat-x 50% top; BORDER-BOTTOM-STYLE: none; FONT-WEIGHT: bold; COLOR: #fff !important; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 1em; BORDER-LEFT-STYLE: none; PADDING-RIGHT: 1em
}
.deptButton {
	BORDER-TOP-STYLE: none; CURSOR: pointer; TEXT-DECORATION: none; WIDTH: auto !important; BACKGROUND: url(../images/button_bg.png) #fff repeat-x 50% top; BORDER-BOTTOM-STYLE: none; FONT-WEIGHT: bold; COLOR: #fff !important; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 1em; BORDER-LEFT-STYLE: none; PADDING-RIGHT: 1em
}
.deptButton {
	FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.inputButton:hover {
	BACKGROUND: url(../images/button_hover_bg.png) #fff repeat-x 50% top
}
.deptButton:hover {
	BACKGROUND: url(../images/button_hover_bg.png) #fff repeat-x 50% top
}
.reqAsterisk {
	BACKGROUND: url(../images/reqAsterisk.jpg) #fff no-repeat 0px 0px; PADDING-LEFT: 12px
}
.requiredField {
	BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND-COLOR: #ffffcc
}
.submissionFormHR {
	WIDTH: 950px; MARGIN: 10px
}
UL#navlist A {
	TEXT-DECORATION: none
}
UL#navlist {
	LIST-STYLE-TYPE: none
}
UL#navlist UL {
	LIST-STYLE-TYPE: none
}
UL#navlist LI {
	LIST-STYLE-TYPE: none
}
UL#navlist LI A {
	BORDER-TOP: #fff 1px outset; BORDER-RIGHT: #fff 1px outset; BORDER-BOTTOM: #fff 1px outset; COLOR: #9cf; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #fff 1px outset; PADDING-RIGHT: 5px
}
UL#navlist LI A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #1f364d
}
UL#subnavlist {
	BORDER-RIGHT: #1c3044 1px solid; BORDER-BOTTOM: #1c3044 1px solid; BORDER-LEFT: #1c3044 1px solid; DISPLAY: none; BACKGROUND-COLOR: #2b4764
}
UL#subnavlist LI {
	BORDER-TOP: #1c3044 1px solid; FLOAT: none; TEXT-ALIGN: right
}
UL#subnavlist LI A {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL#navlist LI:hover UL#subnavlist {
	FONT-SIZE: 12px; RIGHT: 0px; POSITION: absolute; DISPLAY: block
}
UL#navlist LI:hover UL#subnavlist LI A {
	BORDER-TOP-STYLE: none; WIDTH: 13em; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 5px; BORDER-LEFT-STYLE: none; DISPLAY: block; PADDING-RIGHT: 5px
}
DIV.center {
	MARGIN-LEFT: auto; DISPLAY: block; MARGIN-RIGHT: auto
}
DIV.spinnerlabel {
	FONT-SIZE: 1.5em; WIDTH: 300px; TEXT-ALIGN: center; PADDING-TOP: 140px
}
DIV.overlayLongRunning {
	OVERFLOW: visible; BORDER-TOP: #036 2px solid; BORDER-RIGHT: #036 2px solid; BACKGROUND: #fbfbfb; MIN-WIDTH: 300px; BORDER-BOTTOM: #036 2px solid; POSITION: fixed; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #036 2px solid; Z-INDEX: 4; DISPLAY: none; PADDING-RIGHT: 10px; _position: absolute
}
DIV.UploadOverlay#UploadOverlay {
	OVERFLOW: visible; FONT-SIZE: 11px; BORDER-TOP: #036 2px solid; BORDER-RIGHT: #036 2px solid; WIDTH: 625px; BACKGROUND: #fbfbfb; MIN-WIDTH: 300px; BORDER-BOTTOM: #036 2px solid; POSITION: fixed; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #036 2px solid; Z-INDEX: 4; DISPLAY: none; PADDING-RIGHT: 10px; _position: absolute
}
.UploadOverlay INPUT {
	WIDTH: auto
}
.UploadOverlay SELECT {
	WIDTH: auto
}
.controlBlock {
	PADDING-BOTTOM: 0px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px
}
.controlLine {
	PADDING-TOP: 15px
}
.uploadMessage {
	COLOR: red
}
.repositionDdlAttachmentCategory {
	PADDING-BOTTOM: 0px; PADDING-TOP: 60px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.repositionFileUpload {
	POSITION: absolute; BOTTOM: 60px
}
.relative {
	POSITION: relative
}
.ui-widget-header {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; FONT-WEIGHT: bold; COLOR: #0075bf; BORDER-LEFT: #dddddd 1px solid
}
.ProgressLabel {
	POSITION: absolute; FONT-WEIGHT: bold; LEFT: 50%; TOP: 50%; transform: translate(-50%, -50%); text-shadow: 1px 1px 0 #fff
}
.ui-progressbar#Progressbar .ui-progressbar-value {
	HEIGHT: 31px
}
DIV.DelayMessage {
	FONT-SIZE: 12px; WIDTH: 250px; POSITION: absolute; TEXT-ALIGN: left
}
