.buttonsArea {
	FONT-SIZE: 12px; BORDER-TOP: silver 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; FONT-WEIGHT: normal; COLOR: navy; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 1px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 1px; BACKGROUND-COLOR: #eeeeee; MARGIN-RIGHT: 0px
}
.boxInput {
	FONT-SIZE: 12px; FONT-FAMILY: arial; TEXT-TRANSFORM: uppercase; ATTENTION: OBSOLETE
}
.disInput {
	FONT-SIZE: 10px; BORDER-TOP: black thin solid; FONT-FAMILY: arial; BORDER-RIGHT: white thin solid; BORDER-BOTTOM: white thin solid; FONT-WEIGHT: bold; COLOR: navy; BORDER-LEFT: black thin solid; BACKGROUND-COLOR: lightgrey; ATTENTION: OBSOLETE
}
.title {
	FONT-SIZE: 13px; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #000099; FONT-STYLE: normal
}
.displayOnly {
	FONT-SIZE: 10px; BORDER-TOP: aqua solid; FONT-FAMILY: Arial; BORDER-RIGHT: aqua solid; BORDER-BOTTOM: aqua solid; FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal; BORDER-LEFT: aqua solid; BACKGROUND-COLOR: transparent; ATTENTION: OBSOLETE
}
.menu {
	FONT-SIZE: 12px; BORDER-TOP: medium none; FONT-FAMILY: Arial; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: normal; COLOR: white; BORDER-LEFT: medium none; BACKGROUND-COLOR: #bedbf5
}
.select2columns {
	FONT-SIZE: 10px; FONT-FAMILY: Courier; FONT-WEIGHT: bold; COLOR: navy
}
.radioBox {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; FONT-WEIGHT: normal
}
.checkBox {
	FONT-SIZE: 12px; BORDER-TOP: medium none; FONT-FAMILY: Arial; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.tableAsContainer {
	FONT-SIZE: 12px; BORDER-TOP: 2px outset; FONT-FAMILY: Arial; BORDER-RIGHT: 2px outset; BORDER-BOTTOM: 2px outset; FONT-WEIGHT: normal; COLOR: navy; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; BORDER-LEFT: 2px outset; PADDING-RIGHT: 2px; BACKGROUND-COLOR: #eeeeee; MARGIN-RIGHT: 0px
}
.tableAsContainer TH {
	FONT-SIZE: 12px; BORDER-TOP: navy thin; FONT-FAMILY: Arial; BORDER-RIGHT: navy thin; BORDER-BOTTOM: slategray 1px outset; FONT-WEIGHT: normal; COLOR: navy; MARGIN-LEFT: 12px; BORDER-LEFT: navy thin; MARGIN-RIGHT: 12px
}
.tableAsContainer2 {
	FONT-SIZE: 12px; BORDER-TOP: white 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: white 1px solid; BORDER-BOTTOM: white 1px solid; FONT-WEIGHT: 600; COLOR: navy; PADDING-LEFT: 2px; BORDER-LEFT: white 1px solid; PADDING-RIGHT: 2px; BACKGROUND-COLOR: transparent
}
.tableAsContainer2 TH {
	FONT-SIZE: 12px; BORDER-TOP: navy thin; FONT-FAMILY: Arial; BORDER-RIGHT: navy thin; BORDER-BOTTOM: slategray 1px outset; FONT-WEIGHT: normal; COLOR: navy; MARGIN-LEFT: 12px; BORDER-LEFT: navy thin; MARGIN-RIGHT: 12px
}
.tableAsReport {
	FONT-SIZE: 11px; FONT-FAMILY: Arial; MARGIN-TOP: 0px; BORDER-COLLAPSE: collapse; COLOR: black; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; EMPTY-CELLS: show; PADDING-LEFT: 3px; BACKGROUND-COLOR: #ffffff
}
.tableAsReport TD {
	BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid
}
.tableAsReport TH {
	BORDER-TOP: gray 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; FONT-WEIGHT: normal; COLOR: black; MARGIN-LEFT: 12px; BORDER-LEFT: gray 1px solid; BACKGROUND-COLOR: #cbdbeb; MARGIN-RIGHT: 12px
}
.tableAsReport .evenRow {
	BACKGROUND-COLOR: #eeeeee
}
.tableAsReport .header {
	FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: black; MARGIN-LEFT: 12px; BACKGROUND-COLOR: #cbdbeb; MARGIN-RIGHT: 12px
}
.tableAsReport .footer {
	FONT-FAMILY: Arial; COLOR: black; MARGIN-LEFT: 12px; BACKGROUND-COLOR: #cbdbeb; MARGIN-RIGHT: 12px
}
.tableAsReport .pager {
	FONT-FAMILY: Arial; COLOR: black; MARGIN-LEFT: 12px; BACKGROUND-COLOR: #cbdbeb; MARGIN-RIGHT: 12px
}
.tableAsReport THEAD {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: gainsboro
}
.tableForButtons {
	COLOR: black; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.error {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; COLOR: red
}
.clsClaim {
	FONT-FAMILY: Arial; COLOR: black; BACKGROUND-COLOR: gainsboro
}
.clsAdjuster {
	BACKGROUND-COLOR: powderblue
}
.clsHotList {
	BACKGROUND-COLOR: #dce0e2
}
.clsHelp {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: black; BACKGROUND-COLOR: #f6f6f6
}
.clsClient {
	FONT-FAMILY: Arial; COLOR: black; BACKGROUND-COLOR: gainsboro
}
.tableAsContainer THEAD {
	FONT-SIZE: 10px; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: navy; FONT-STYLE: italic; TEXT-ALIGN: center
}
.menuBody {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: wheat; BACKGROUND-COLOR: darkblue
}
#divWait {
	FONT-SIZE: 20px; BORDER-TOP: thin outset; HEIGHT: 40px; FONT-FAMILY: Arial; BORDER-RIGHT: thin outset; WIDTH: 50%; BORDER-BOTTOM: thin outset; POSITION: absolute; TEXT-ALIGN: center; LEFT: 25%; BORDER-LEFT: thin outset; Z-INDEX: 5; TOP: 30%; BACKGROUND-COLOR: gainsboro
}
.menuBody A {
	TEXT-DECORATION: none; COLOR: white
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: black; BACKGROUND-COLOR: gainsboro
}
H1 {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 5px; BORDER-TOP: medium none; FONT-FAMILY: 'Arial'; BORDER-RIGHT: medium none; MARGIN-TOP: 5px; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: navy; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: medium none
}
H2 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial; MARGIN-TOP: 0px; FONT-WEIGHT: bold; COLOR: black
}
H3 {
	FONT-SIZE: 13px; FONT-FAMILY: Arial; COLOR: navy; MARGIN: 0px
}
H4 {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial; MARGIN-TOP: 0px; FONT-WEIGHT: bold; COLOR: maroon; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px
}
A:link {
	FONT-SIZE: 12px; CURSOR: hand; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: navy
}
A:visited {
	FONT-SIZE: 12px; CURSOR: hand; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: navy
}
A:active {
	FONT-SIZE: 12px; CURSOR: auto; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: navy
}
TABLE {
	FONT-SIZE: 12px; BORDER-TOP: white 1px; FONT-FAMILY: Arial; BORDER-RIGHT: white 1px; BORDER-BOTTOM: white 1px; FONT-WEIGHT: normal; COLOR: navy; PADDING-LEFT: 2px; BORDER-LEFT: medium none; PADDING-RIGHT: 2px; BACKGROUND-COLOR: transparent
}
BUTTON {
	FONT-SIZE: 11px; CURSOR: hand; FONT-WEIGHT: normal; COLOR: black; MARGIN: 1px 0px 2px 1px; FONT-FAMILY_: Verdana; HEIGHT1: 22px
}
.cmdButton {
	FONT-SIZE: 11px; CURSOR: hand; BORDER-TOP: white 1px solid; HEIGHT: 18px; FONT-FAMILY: Verdana; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; COLOR: black; PADDING-LEFT: 5px; BORDER-LEFT: white 1px solid; MARGIN: 1px 0px 2px 1px; BACKGROUND-COLOR: #cccccc
}
.Button {
	FONT-SIZE: 11px; CURSOR: hand; HEIGHT: 18px; FONT-WEIGHT: normal; COLOR: black; PADDING-LEFT: 0px; MARGIN: 1px 0px 2px 1px; FONT-FAMILY_: Verdana
}
.cmdButtonSmall {
	FONT-SIZE: 10px; CURSOR: hand; HEIGHT: 15px; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: black; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 1px 0px 2px 1px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #cccccc
}
.ButtonSmall {
	FONT-SIZE: 10px; CURSOR: hand; HEIGHT: 15px; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: black; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 1px 0px 2px 1px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #cccccc
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: black
}
UNKNOWN {
	FONT-SIZE: 11px; BORDER-TOP: black 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; COLOR: black; BORDER-LEFT: black 1px solid
}
SELECT {
	FONT-SIZE: 12px; BORDER-TOP: black 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; COLOR: black; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: white
}
TEXTAREA {
	FONT-SIZE: 11px; BORDER-TOP: black 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; COLOR: black; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: white
}
.clsComments {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: black
}
.Radio {
	FONT-SIZE: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: transparent
}
.Link {
	FONT-SIZE: 12px; CURSOR: hand; TEXT-DECORATION: underline; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: navy
}
FIELDSET {
	PADDING-TOP: 5px; PADDING-LEFT: 2px
}
LEGEND {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: black
}
.outerTable {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px inset; BORDER-BOTTOM: black 1px inset; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: white
}
.label {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: black
}
.highlightedLabel {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: mediumblue
}
.importantLabel {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: red
}
.data {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: black
}
.highlightedData {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: royalblue
}
.importantData {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: red
}
UNKNOWN {
	FONT-SIZE: 10px; FONT-FAMILY: Arial; FONT-WEIGHT: normal
}
.Readonly {
	FONT-SIZE: 12px; BORDER-TOP: darkgray 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: darkgray 1px solid; BORDER-BOTTOM: darkgray 1px solid; FONT-WEIGHT: normal; COLOR: black; BORDER-LEFT: darkgray 1px solid; BACKGROUND-COLOR: #eeeeee
}
.tableAsReport .selected {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #8eccea
}
.hotSpot {
	FONT-SIZE: 11px; CURSOR: hand; TEXT-DECORATION: underline; FONT-WEIGHT: normal; COLOR: navy; BACKGROUND-COLOR: transparent
}
.menuItem {
	FONT-SIZE: 12px; BORDER-TOP: black; FONT-FAMILY: Arial; BORDER-RIGHT: black; BORDER-BOTTOM: black; FONT-WEIGHT: bold; COLOR: yellow; TEXT-ALIGN: center; BORDER-LEFT: black; BACKGROUND-COLOR: transparent
}
.menuSelected {
	FONT-SIZE: 12px; BORDER-TOP: black; FONT-FAMILY: Arial; BORDER-RIGHT: black; BORDER-BOTTOM: black; FONT-WEIGHT: bold; COLOR: darkgoldenrod; BORDER-LEFT: black; BACKGROUND-COLOR: lightsteelblue
}
.menuHover {
	COLOR: green; BACKGROUND-COLOR: lightcyan
}
.tableNoBorders {
	
}
.tableNoBorders TD {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.small {
	FONT-SIZE: 11px
}
