.clsPortalHeaderBody {
	WIDTH: 100%; COLOR: white; BACKGROUND-COLOR: #dddddd
}
.clsApplicationTitle {
	FONT-SIZE: 12px; COLOR: #cc9900
}
#mmClaimNoTitle {
	FONT-SIZE: 10px; COLOR: #003366
}
#mmClient {
	FONT-SIZE: 10px; COLOR: #003366
}
#mmAdjuster {
	FONT-SIZE: 10px; COLOR: #003366
}
.clsMenu {
	FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial; WIDTH: 60%; MARGIN-TOP: 0px; FONT-WEIGHT: normal; COLOR: white; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #003366
}
#idNavMenu {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.clsMenuTD {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.clsMenuDivider {
	FONT-SIZE: 19px; COLOR: red; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #bbbbbb
}
.clsMenuTitle {
	FONT-SIZE: 12px; CURSOR: default; BORDER-TOP: #003366 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid; FONT-WEIGHT: 600; COLOR: white; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #003366 1px solid; MARGIN: 0px 2px 0px 0px; PADDING-RIGHT: 2px
}
.clsMenuTitleOver {
	FONT-SIZE: 12px; CURSOR: default; BORDER-TOP: white 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: white 1px solid; BORDER-BOTTOM: white 1px solid; FONT-WEIGHT: 600; COLOR: white; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: white 1px solid; MARGIN: 0px 2px 0px 0px; PADDING-RIGHT: 2px
}
.clsMenuTitleDown {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; CURSOR: default; BORDER-TOP: #bbbbbb 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: #bbbbbb 1px solid; MARGIN-TOP: 0px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-WEIGHT: 600; COLOR: white; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-RIGHT: 2px; MARGIN-RIGHT: 2px
}
#idMenu3 {
	WIDTH: 200px
}
#idMenu4 {
	WIDTH: 200px
}
#idMenu5 {
	WIDTH: 200px
}
#idMenu6 {
	WIDTH: 200px
}
.clsMenuItem {
	FONT-SIZE: 10px; CURSOR: default; FONT-FAMILY: Arial; WIDTH: 100%; FONT-WEIGHT: normal; COLOR: black; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px
}
.clsMenuItemOver {
	FONT-SIZE: 10px; CURSOR: default; FONT-FAMILY: Tahoma, MS Sans Serif, Arial, Geneva, Helvetica; WIDTH: 100%; FONT-WEIGHT: normal; COLOR: purple; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; BACKGROUND-COLOR: navy
}
.clsPortal {
	FONT-SIZE: 9px; FONT-FAMILY: Arial; FONT-WEIGHT: 600
}
.clsMenuItemList {
	FONT-SIZE: 11px; OVERFLOW: hidden; BORDER-TOP: gray 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: gray 1px solid; MARGIN-TOP: -3px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; FONT-WEIGHT: 600; COLOR: #003366; PADDING-TOP: 0px; BORDER-LEFT: gray 1px solid; Z-INDEX: 100; TOP: 0pc; VISIBILITY: hidden; BACKGROUND-COLOR: aliceblue
}
.clsPortalDropDown {
	FONT-SIZE: 11px; HEIGHT: 15px; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: black; PADDING-RIGHT: 0px; BACKGROUND-COLOR: white; MARGIN-RIGHT: 0px
}
#idMenu1_ {
	WIDTH: 200px
}
#idMenu2_ {
	WIDTH: 200px
}
