<ul class="nav nav-pills nav-pills-primary" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#active" role="tablist">
        <i class="budicon-bacon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#link" role="tablist">
        <i class="budicon-bacon"></i>
      </a>
    </li>
  <li class="nav-item">
      <a class="nav-link disabled" data-toggle="tab" href="#disabled" role="tablist">
        <i class="budicon-bacon"></i>
      </a>
  </li>
</ul>
          