UNKNOWN {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, 'helvetica'; TEXT-TRANSFORM: uppercase
}
.disInput {
	FONT-SIZE: 8pt; BORDER-TOP: medium none; FONT-FAMILY: arial; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: navy; BORDER-LEFT: medium none; BACKGROUND-COLOR: transparent; disabled: true
}
.title {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #000099
}
.displayOnly {
	FONT-SIZE: 8pt; BORDER-TOP: medium none; FONT-FAMILY: Arial; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal; BORDER-LEFT: medium none; BACKGROUND-COLOR: transparent
}
.menu {
	FONT-SIZE: 9pt; BORDER-TOP: black thin solid; FONT-FAMILY: Arial; BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid; FONT-WEIGHT: normal; COLOR: white; BORDER-LEFT: black thin solid; BACKGROUND-COLOR: green
}
.menuselected {
	FONT-SIZE: 9pt; BORDER-TOP: black thin solid; FONT-FAMILY: Arial; BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid; FONT-WEIGHT: bold; COLOR: yellow; MARGIN-LEFT: 0px; BORDER-LEFT: black thin solid; BACKGROUND-COLOR: mediumseagreen; MARGIN-RIGHT: 0px
}
.menu2 {
	FONT-SIZE: 9pt; BORDER-TOP: black thin solid; FONT-FAMILY: Arial; BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid; FONT-WEIGHT: normal; COLOR: white; BORDER-LEFT: black thin solid; BACKGROUND-COLOR: green
}
.menuselected2 {
	FONT-SIZE: 9pt; BORDER-TOP: black thin solid; FONT-FAMILY: Arial; BORDER-RIGHT: black thin solid; BORDER-BOTTOM: black thin solid; FONT-WEIGHT: bold; COLOR: yellow; BORDER-LEFT: black thin solid; BACKGROUND-COLOR: mediumseagreen
}
H1 {
	FONT-SIZE: x-large; FONT-FAMILY: Arial; COLOR: purple; FILTER: glow(color=navy)
}
BODY {
	FONT-SIZE: 8pt; BORDER-TOP: silver 0px; FONT-FAMILY: Arial; BORDER-RIGHT: silver 0px; BORDER-BOTTOM: silver 0px; COLOR: black; BORDER-LEFT: silver 0px; BACKGROUND-COLOR: silver
}
SELECT {
	FONT-SIZE: 8pt; HEIGHT: 50pt; FONT-FAMILY: Arial; FONT-WEIGHT: 100; COLOR: black
}
.lineInput {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: black
}
.select2columns {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier; FONT-WEIGHT: bold; COLOR: navy
}
.small {
	FONT-SIZE: 6pt; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: darkslategray; FONT-STYLE: normal
}
.radioBox {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: black
}
H2 {
	FONT-SIZE: large; FONT-FAMILY: Arial; COLOR: black
}
.bodySubmit {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; BACKGROUND-COLOR: gainsboro
}
H3 {
	FONT-SIZE: medium; FONT-FAMILY: Arial; COLOR: navy; MARGIN: 0px
}
.helpPage {
	FONT-SIZE: 10pt; BORDER-TOP: lavender groove; FONT-FAMILY: Times New Roman; BORDER-RIGHT: lavender groove; BORDER-BOTTOM: lavender groove; BORDER-LEFT: lavender groove; BACKGROUND-COLOR: papayawhip
}
.checkBox {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: lightblue
}
.cmdButton {
	FONT-SIZE: 8pt; CURSOR: hand; HEIGHT: 15pt; FONT-FAMILY: Arial; MARGIN-TOP: 2px; FONT-WEIGHT: normal; COLOR: black; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 3px
}
.cmdButtonSmall {
	FONT-SIZE: 8pt; CURSOR: hand; HEIGHT: 15pt; FONT-FAMILY: Arial; FONT-WEIGHT: 600; COLOR: black; BACKGROUND-COLOR: silver
}
.tableAsContainer {
	FONT-SIZE: 8pt; BORDER-TOP: white thin outset; FONT-FAMILY: Arial; BORDER-RIGHT: white thin outset; BORDER-BOTTOM: white thin outset; FONT-WEIGHT: 600; COLOR: navy; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; BORDER-LEFT: white thin outset; PADDING-RIGHT: 2px; BACKGROUND-COLOR: aliceblue; MARGIN-RIGHT: 0px
}
.tableAsContainer TH {
	FONT-SIZE: 9pt; BORDER-TOP: navy thin; FONT-FAMILY: Arial; BORDER-RIGHT: navy thin; BORDER-BOTTOM: slategray 1px outset; FONT-WEIGHT: normal; COLOR: navy; MARGIN-LEFT: 10pt; BORDER-LEFT: navy thin; MARGIN-RIGHT: 10pt
}
.tableAsContainer2 {
	FONT-SIZE: 8pt; BORDER-TOP: white 1px solid; FONT-FAMILY: Arial; BORDER-RIGHT: white 1px solid; BORDER-BOTTOM: white 1px solid; FONT-WEIGHT: 600; COLOR: navy; PADDING-LEFT: 2px; BORDER-LEFT: white 1px solid; PADDING-RIGHT: 2px; BACKGROUND-COLOR: transparent
}
.tableAsContainer2 TH {
	FONT-SIZE: 9pt; BORDER-TOP: navy thin; FONT-FAMILY: Arial; BORDER-RIGHT: navy thin; BORDER-BOTTOM: slategray 1px outset; FONT-WEIGHT: normal; COLOR: navy; MARGIN-LEFT: 10pt; BORDER-LEFT: navy thin; MARGIN-RIGHT: 10pt
}
.tableAsReport {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; MARGIN-TOP: 0px; COLOR: black; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3px; BACKGROUND-COLOR: honeydew
}
.tableAsReport TH {
	FONT-FAMILY: Arial; COLOR: navy; MARGIN-LEFT: 10pt; BACKGROUND-COLOR: gainsboro; MARGIN-RIGHT: 10pt
}
.tableAsReport .evenRow {
	BACKGROUND-COLOR: aliceblue
}
.tableForButtons {
	COLOR: black; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.boxLabel {
	FONT-SIZE: 8pt; BORDER-TOP: medium none; FONT-FAMILY: Arial; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal; BORDER-LEFT: medium none; BACKGROUND-COLOR: silver
}
.fntLabel {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: black
}
.error {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier; COLOR: red
}
H4 {
	FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; FONT-FAMILY: Arial; MARGIN-TOP: 0px; COLOR: green; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px
}
.tableAsContainer THEAD {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: navy; FONT-STYLE: italic; TEXT-ALIGN: center
}
.tableAsReport THEAD {
	BACKGROUND-COLOR: gainsboro
}
.menuBody {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; FONT-WEIGHT: normal; COLOR: midnightblue
}
A {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; BORDER-RIGHT: aqua thin; BORDER-BOTTOM: thin; FONT-WEIGHT: normal
}
TABLE {
	FONT-SIZE: 8pt; BORDER-TOP: black thin; FONT-FAMILY: Arial; BORDER-RIGHT: black thin; BORDER-BOTTOM: black thin; COLOR: black; BORDER-LEFT: black thin; BACKGROUND-COLOR: silver
}
#divWait {
	FONT-SIZE: 15pt; FONT-FAMILY: Arial; POSITION: absolute; TEXT-ALIGN: center; CLEAR: both; LEFT: 40%; TOP: 0%; BACKGROUND-COLOR: transparent
}
.fontNormal {
	FONT-SIZE: 7pt; FONT-FAMILY: Arial; FONT-WEIGHT: lighter; COLOR: black
}
.floatingBox {
	BORDER-TOP: black; BORDER-RIGHT: black; BORDER-BOTTOM: black; POSITION: absolute; LEFT: 40%; BORDER-LEFT: black; TOP: 80%; BACKGROUND-COLOR: transparent
}
.Title1 {
	FONT-SIZE: larger; FONT-FAMILY: Arial; COLOR: blue
}
BUTTON {
	FONT-SIZE: 10px; BORDER-TOP: black 1pt groove; HEIGHT: 18px; FONT-FAMILY: 'Times New Roman'; BORDER-RIGHT: black 1pt groove; WIDTH: 75px; BORDER-BOTTOM: black 1pt groove; TEXT-TRANSFORM: capitalize; FONT-WEIGHT: lighter; COLOR: black; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: black 1pt groove; MARGIN: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #d0ccc7
}
.tableforbill {
	FONT-SIZE: 10pt; BORDER-TOP: thin; FONT-FAMILY: Arial; BORDER-RIGHT: thin; BORDER-BOTTOM: thin; PAGE-BREAK-AFTER: auto; COLOR: black; BORDER-LEFT: thin; LINE-HEIGHT: 12px; BACKGROUND-COLOR: white
}
TABLE.defaulttable {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: white
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: black
}
LABEL {
	FONT-SIZE: 8pt; FONT-FAMILY: 'MS Sans Serif'
}
.textReadOnly {
	FONT-SIZE: 9pt; BORDER-TOP: silver; FONT-FAMILY: Arial; BORDER-RIGHT: silver; BORDER-BOTTOM: silver; FONT-WEIGHT: bolder; COLOR: blue; BORDER-LEFT: silver; BACKGROUND-COLOR: silver
}
.BottonScreen {
	FONT-SIZE: 10px; CURSOR: hand; FONT-WEIGHT: normal; BACKGROUND-COLOR: gainsboro
}
.BottonScreenActive {
	FONT-SIZE: 10px; CURSOR: hand; BORDER-TOP: navy thin solid; BORDER-RIGHT: navy thin solid; BORDER-BOTTOM: navy thin solid; FONT-WEIGHT: normal; COLOR: black; BORDER-LEFT: navy thin solid; BACKGROUND-COLOR: gainsboro
}
