<!-- Pagination simple -->
<ul class="pagination pagination-primary">
  <li class="page-item active"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">4</a></li>
  <li class="page-item"><a class="page-link" href="#">5</a></li>
</ul>


<!-- Pagination full-width -->
<ul class="pagination pagination-primary justify-content-center">
    <li class="page-item arrow-margin-left">
        <a class="page-link" href="#" aria-label="Previous">
            <i class="budicon-chevron-left" aria-hidden="true"></i>
        </a>
    </li>


    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item active"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>



    <li class="page-item arrow-margin-right">
        <a class="page-link" href="#" aria-label="Next">
            <i class="budicon-chevron-right" aria-hidden="true"></i>
        </a>
    </li>
</ul>