
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">
                <img class="logo" src="app/images/logo.svg">
           </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
    	    <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#pablo">
                        <i class="budicon-bacon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#pablo">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>