<div class="form-group">
    <input type="text" value="" placeholder="Regular" class="form-control">
</div>

<div class="form-group has-success">
    <input type="text" value="Success" class="form-control form-control-success">
</div>

<div class="form-group has-danger">
    <input type="email" value="Error Input" class="form-control form-control-danger">
</div>

<div class="input-group">
    <span class="input-group-addon">
        <i class="budicon-profile-picture"></i>
    </span>
    <input type="text" class="form-control" placeholder="Left Icon">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Right Icon">
    <span class="input-group-addon">
        <i class="budicon-profile-picture"></i>
    </span>
</div>
