.ndpl-page table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

/* .ndpl-page {
    color: #444444;
}

.ndpl-page p {
    color: #444444;
} */

.ndpl-page table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 1.3em;
    font-weight: 300;
    border: 0;
    padding: 12px 7px;
    vertical-align: middle;
}
.ndpl-page table thead {
    border-bottom: 3px #adadad solid;
}

.ndpl-page table td {
    border-top: 1px solid #e9ecef;
    padding: 12px 7px;
    vertical-align: middle;
    color: black;
}

.ndpl-page code {
    color: #5d5d5d;
    padding: .2rem .4rem;
}


.color-tag {
    padding: 10px 15px 11px;
    margin: 0;
}

.color-tag:nth-child(1) .group, .color-tag:nth-child(2) .group {
    margin-bottom: 60px;
}

.color-tag:nth-child(3) .group, .color-tag:nth-child(4) .group {
    margin-bottom: 10px;
}

.color-tag.dark span {
    color: rgba(0,0,0,.87);
}

.color-tag .group {
    display: block;
}
.color-tag span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.color-tag .details {
    display: -ms-flexbox;
    display: flex;
}

.color-tag.light span {
    color: rgba(255,255,255,.87);
}

.color-tag .hex {
    text-align: right;
    text-transform: uppercase;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ndpl-nav h2 a {
    color: #2b2a28;
}

.ndpl-c-brand-bl-ca a.active, .ndpl-c-brand-bl-ca a:hover {
    border-left-color: #3C4659!important;
    color: #2b2a28!important;
}