html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	min-height: 100vh;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.content {
	width: 1200px;
	margin: auto;
	display: block;

	@media screen and (max-width: 1200px) {
		width: 100%;
	}
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Montserrat;
}

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*!
 * Budicon v2.0.1 (https://budicon.co)
 * Author: Budi Harto Tanrim (https://dribbble.com/buditanrim)
 * License: https://budicon.co/license
 */

 @font-face {
    font-family: 'budicon-classic';bg-primary
    src:  url('../fonts/budicon-classic.eot?jdete2');
    src:  url('../fonts/budicon-classic.eot?jdete2#iefix') format('embedded-opentype'),
      url('../fonts/budicon-classic.ttf?jdete2') format('truetype'),
      url('../fonts/budicon-classic.woff?jdete2') format('woff'),
      url('../fonts/budicon-classic.svg?jdete2#budicon-classic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'budicon-classic' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  i:before {
    font-size: 24px;
  }
  
  .budicon-apron:before {
    content: "\e900";
  }
  .budicon-bbq:before {
    content: "\e901";
  }
  .budicon-blower:before {
    content: "\e902";
  }
  .budicon-butcher-knife:before {
    content: "\e903";
  }
  .budicon-coffee-maker:before {
    content: "\e904";
  }
  .budicon-coffee-press:before {
    content: "\e905";
  }
  .budicon-exhaust:before {
    content: "\e906";
  }
  .budicon-food-cover:before {
    content: "\e907";
  }
  .budicon-fridge:before {
    content: "\e908";
  }
  .budicon-hand-mixer:before {
    content: "\e909";
  }
  .budicon-heat:before {
    content: "\e90a";
  }
  .budicon-high-pot:before {
    content: "\e90b";
  }
  .budicon-hot-pot:before {
    content: "\e90c";
  }
  .budicon-ingredients:before {
    content: "\e90d";
  }
  .budicon-juice-container:before {
    content: "\e90e";
  }
  .budicon-juicer_1:before {
    content: "\e90f";
  }
  .budicon-juicer:before {
    content: "\e910";
  }
  .budicon-kitchen-glove:before {
    content: "\e911";
  }
  .budicon-kitchen-shaver:before {
    content: "\e912";
  }
  .budicon-knife:before {
    content: "\e913";
  }
  .budicon-large-pot:before {
    content: "\e914";
  }
  .budicon-low-pot:before {
    content: "\e915";
  }
  .budicon-measuring-cup:before {
    content: "\e916";
  }
  .budicon-microwave:before {
    content: "\e917";
  }
  .budicon-mixer:before {
    content: "\e918";
  }
  .budicon-outdoor-bbq:before {
    content: "\e919";
  }
  .budicon-pomodoro:before {
    content: "\e91a";
  }
  .budicon-rice-cooker:before {
    content: "\e91b";
  }
  .budicon-roller:before {
    content: "\e91c";
  }
  .budicon-sauce-pan-hot:before {
    content: "\e91d";
  }
  .budicon-sauce-pan:before {
    content: "\e91e";
  }
  .budicon-spatula:before {
    content: "\e91f";
  }
  .budicon-stand-mixer:before {
    content: "\e920";
  }
  .budicon-stone-oven:before {
    content: "\e921";
  }
  .budicon-taste:before {
    content: "\e922";
  }
  .budicon-tea-pot:before {
    content: "\e923";
  }
  .budicon-temperature-controller:before {
    content: "\e924";
  }
  .budicon-tissue:before {
    content: "\e925";
  }
  .budicon-toaster:before {
    content: "\e926";
  }
  .budicon-trash-bin:before {
    content: "\e927";
  }
  .budicon-weigher:before {
    content: "\e928";
  }
  .budicon-blowing-wind:before {
    content: "\e929";
  }
  .budicon-cloud:before {
    content: "\e92a";
  }
  .budicon-cloudy-night:before {
    content: "\e92b";
  }
  .budicon-cloudy-day:before {
    content: "\e92c";
  }
  .budicon-day:before {
    content: "\e92d";
  }
  .budicon-decrease-temperature:before {
    content: "\e92e";
  }
  .budicon-drizzling-day:before {
    content: "\e92f";
  }
  .budicon-drizzling-night:before {
    content: "\e930";
  }
  .budicon-drizzling:before {
    content: "\e931";
  }
  .budicon-flake-day:before {
    content: "\e932";
  }
  .budicon-flake-night:before {
    content: "\e933";
  }
  .budicon-flake:before {
    content: "\e934";
  }
  .budicon-gloomy-day:before {
    content: "\e935";
  }
  .budicon-gloomy-night:before {
    content: "\e936";
  }
  .budicon-gloomy:before {
    content: "\e937";
  }
  .budicon-half-moon:before {
    content: "\e938";
  }
  .budicon-heavy-rain-day:before {
    content: "\e939";
  }
  .budicon-heavy-rain-night:before {
    content: "\e93a";
  }
  .budicon-heavy-rain:before {
    content: "\e93b";
  }
  .budicon-high-temperature:before {
    content: "\e93c";
  }
  .budicon-increase-temperature:before {
    content: "\e93d";
  }
  .budicon-lighting-day:before {
    content: "\e93e";
  }
  .budicon-lighting-night:before {
    content: "\e93f";
  }
  .budicon-lighting:before {
    content: "\e940";
  }
  .budicon-low-temperature:before {
    content: "\e941";
  }
  .budicon-medium-temperature:before {
    content: "\e942";
  }
  .budicon-melting-point:before {
    content: "\e943";
  }
  .budicon-moon-reflection:before {
    content: "\e944";
  }
  .budicon-moonlight:before {
    content: "\e945";
  }
  .budicon-night:before {
    content: "\e946";
  }
  .budicon-pouring-day:before {
    content: "\e947";
  }
  .budicon-pouring-night:before {
    content: "\e948";
  }
  .budicon-pouring:before {
    content: "\e949";
  }
  .budicon-rain:before {
    content: "\e94a";
  }
  .budicon-raining-day:before {
    content: "\e94b";
  }
  .budicon-raining-night:before {
    content: "\e94c";
  }
  .budicon-snowflakes:before {
    content: "\e94d";
  }
  .budicon-snowing-day:before {
    content: "\e94e";
  }
  .budicon-snowing-night:before {
    content: "\e94f";
  }
  .budicon-snowing:before {
    content: "\e950";
  }
  .budicon-sun-down:before {
    content: "\e951";
  }
  .budicon-sun-reflection:before {
    content: "\e952";
  }
  .budicon-sun-set:before {
    content: "\e953";
  }
  .budicon-sun-up:before {
    content: "\e954";
  }
  .budicon-three-quarter-moon:before {
    content: "\e955";
  }
  .budicon-typhoon:before {
    content: "\e956";
  }
  .budicon-windometer:before {
    content: "\e957";
  }
  .budicon-windy-day:before {
    content: "\e958";
  }
  .budicon-windy-night:before {
    content: "\e959";
  }
  .budicon-windy:before {
    content: "\e95a";
  }
  .budicon-bottombar:before {
    content: "\e95b";
  }
  .budicon-card-stack-view:before {
    content: "\e95c";
  }
  .budicon-collapse-bottom:before {
    content: "\e95d";
  }
  .budicon-collapse-left:before {
    content: "\e95e";
  }
  .budicon-collapse-right:before {
    content: "\e95f";
  }
  .budicon-collapse-top:before {
    content: "\e960";
  }
  .budicon-feature-block:before {
    content: "\e961";
  }
  .budicon-inside-element:before {
    content: "\e962";
  }
  .budicon-layout-third-vertical:before {
    content: "\e963";
  }
  .budicon-layout-third-view:before {
    content: "\e964";
  }
  .budicon-layout-two-view:before {
    content: "\e965";
  }
  .budicon-one-third:before {
    content: "\e966";
  }
  .budicon-sidebar-left-content:before {
    content: "\e967";
  }
  .budicon-sidebar-left:before {
    content: "\e968";
  }
  .budicon-sidebar-right-content:before {
    content: "\e969";
  }
  .budicon-sidebar-right:before {
    content: "\e96a";
  }
  .budicon-third-one:before {
    content: "\e96b";
  }
  .budicon-topbar:before {
    content: "\e96c";
  }
  .budicon-two-grids:before {
    content: "\e96d";
  }
  .budicon-two-thirds:before {
    content: "\e96e";
  }
  .budicon-alert-sign-a:before {
    content: "\e96f";
  }
  .budicon-alert-sign:before {
    content: "\e970";
  }
  .budicon-app-notification:before {
    content: "\e971";
  }
  .budicon-appear-password:before {
    content: "\e972";
  }
  .budicon-block-sign:before {
    content: "\e973";
  }
  .budicon-bookmark-ribbon:before {
    content: "\e974";
  }
  .budicon-card-slides:before {
    content: "\e975";
  }
  .budicon-check-ui:before {
    content: "\e976";
  }
  .budicon-checkboxes:before {
    content: "\e977";
  }
  .budicon-cloud-download:before {
    content: "\e978";
  }
  .budicon-cloud-upload:before {
    content: "\e979";
  }
  .budicon-cmd-sign:before {
    content: "\e97a";
  }
  .budicon-cog:before {
    content: "\e97b";
  }
  .budicon-collapse-list:before {
    content: "\e97c";
  }
  .budicon-cross-sign-square:before {
    content: "\e97d";
  }
  .budicon-cross-sign:before {
    content: "\e97e";
  }
  .budicon-cross-ui:before {
    content: "\e97f";
  }
  .budicon-dashboard:before {
    content: "\e980";
  }
  .budicon-dislike:before {
    content: "\e981";
  }
  .budicon-download-queue:before {
    content: "\e982";
  }
  .budicon-exit-fullscreen:before {
    content: "\e983";
  }
  .budicon-expand-list:before {
    content: "\e984";
  }
  .budicon-expand-view:before {
    content: "\e985";
  }
  .budicon-filter:before {
    content: "\e986";
  }
  .budicon-fullscreen:before {
    content: "\e987";
  }
  .budicon-hamburger-ui-a:before {
    content: "\e988";
  }
  .budicon-hamburger-ui-b:before {
    content: "\e989";
  }
  .budicon-hamburger-ui:before {
    content: "\e98a";
  }
  .budicon-heart:before {
    content: "\e98b";
  }
  .budicon-hide-password:before {
    content: "\e98c";
  }
  .budicon-home-a:before {
    content: "\e98d";
  }
  .budicon-home:before {
    content: "\e98e";
  }
  .budicon-internal-link:before {
    content: "\e98f";
  }
  .budicon-kebab-ui:before {
    content: "\e990";
  }
  .budicon-life-buoy:before {
    content: "\e991";
  }
  .budicon-like:before {
    content: "\e992";
  }
  .budicon-loading-sign:before {
    content: "\e993";
  }
  .budicon-lock:before {
    content: "\e994";
  }
  .budicon-login:before {
    content: "\e995";
  }
  .budicon-logout:before {
    content: "\e996";
  }
  .budicon-meatball-ui:before {
    content: "\e997";
  }
  .budicon-mic-ui-mute:before {
    content: "\e998";
  }
  .budicon-mic-ui:before {
    content: "\e999";
  }
  .budicon-minimize-view:before {
    content: "\e99a";
  }
  .budicon-minus-sign-square:before {
    content: "\e99b";
  }
  .budicon-minus-sign:before {
    content: "\e99c";
  }
  .budicon-minus-ui:before {
    content: "\e99d";
  }
  .budicon-monitor-resolution:before {
    content: "\e99e";
  }
  .budicon-move-to-bottom:before {
    content: "\e99f";
  }
  .budicon-move-to-top:before {
    content: "\e9a0";
  }
  .budicon-notification-a:before {
    content: "\e9a1";
  }
  .budicon-notification:before {
    content: "\e9a2";
  }
  .budicon-outgoing-link:before {
    content: "\e9a3";
  }
  .budicon-plus-sign-square:before {
    content: "\e9a4";
  }
  .budicon-plus-sign:before {
    content: "\e9a5";
  }
  .budicon-plus-ui:before {
    content: "\e9a6";
  }
  .budicon-power-sign:before {
    content: "\e9a7";
  }
  .budicon-previouse-queue:before {
    content: "\e9a8";
  }
  .budicon-print-a:before {
    content: "\e9a9";
  }
  .budicon-print:before {
    content: "\e9aa";
  }
  .budicon-radar:before {
    content: "\e9ab";
  }
  .budicon-refresh-ui:before {
    content: "\e9ac";
  }
  .budicon-reload-ui:before {
    content: "\e9ad";
  }
  .budicon-reply-a:before {
    content: "\e9ae";
  }
  .budicon-reply-all:before {
    content: "\e9af";
  }
  .budicon-reply:before {
    content: "\e9b0";
  }
  .budicon-search-a:before {
    content: "\e9b1";
  }
  .budicon-search-cross-a:before {
    content: "\e9b2";
  }
  .budicon-search-cross:before {
    content: "\e9b3";
  }
  .budicon-search-list:before {
    content: "\e9b4";
  }
  .budicon-search-minus-a:before {
    content: "\e9b5";
  }
  .budicon-search-minus:before {
    content: "\e9b6";
  }
  .budicon-search-plus-a:before {
    content: "\e9b7";
  }
  .budicon-search-plus:before {
    content: "\e9b8";
  }
  .budicon-search-tick-a:before {
    content: "\e9b9";
  }
  .budicon-search-tick:before {
    content: "\e9ba";
  }
  .budicon-search-view-minus:before {
    content: "\e9bb";
  }
  .budicon-search-view-plus:before {
    content: "\e9bc";
  }
  .budicon-search-view:before {
    content: "\e9bd";
  }
  .budicon-search:before {
    content: "\e9be";
  }
  .budicon-share:before {
    content: "\e9bf";
  }
  .budicon-shortcut-list:before {
    content: "\e9c0";
  }
  .budicon-star:before {
    content: "\e9c1";
  }
  .budicon-stars:before {
    content: "\e9c2";
  }
  .budicon-tick-sign-square:before {
    content: "\e9c3";
  }
  .budicon-tick-sign:before {
    content: "\e9c4";
  }
  .budicon-trash-cancel:before {
    content: "\e9c5";
  }
  .budicon-trash-ui:before {
    content: "\e9c6";
  }
  .budicon-trash:before {
    content: "\e9c7";
  }
  .budicon-ui-compose-a:before {
    content: "\e9c8";
  }
  .budicon-ui-compose:before {
    content: "\e9c9";
  }
  .budicon-ui-flag-a:before {
    content: "\e9ca";
  }
  .budicon-ui-flag-b:before {
    content: "\e9cb";
  }
  .budicon-ui-flag:before {
    content: "\e9cc";
  }
  .budicon-ui-speed:before {
    content: "\e9cd";
  }
  .budicon-unlock:before {
    content: "\e9ce";
  }
  .budicon-upload-queue:before {
    content: "\e9cf";
  }
  .budicon-uploading-ui:before {
    content: "\e9d0";
  }
  .budicon-view:before {
    content: "\e9d1";
  }
  .budicon-wide-fullscreen:before {
    content: "\e9d2";
  }
  .budicon-alignment-center:before {
    content: "\e9d3";
  }
  .budicon-alignment-left:before {
    content: "\e9d4";
  }
  .budicon-alignment-right:before {
    content: "\e9d5";
  }
  .budicon-anchor-link:before {
    content: "\e9d6";
  }
  .budicon-ascending-order:before {
    content: "\e9d7";
  }
  .budicon-asterisk:before {
    content: "\e9d8";
  }
  .budicon-change-order:before {
    content: "\e9d9";
  }
  .budicon-check-done:before {
    content: "\e9da";
  }
  .budicon-columns:before {
    content: "\e9db";
  }
  .budicon-compose:before {
    content: "\e9dc";
  }
  .budicon-descending-order:before {
    content: "\e9dd";
  }
  .budicon-digital-keyboard:before {
    content: "\e9de";
  }
  .budicon-document-page:before {
    content: "\e9df";
  }
  .budicon-forward-page:before {
    content: "\e9e0";
  }
  .budicon-front-page:before {
    content: "\e9e1";
  }
  .budicon-grid-view:before {
    content: "\e9e2";
  }
  .budicon-image-caption:before {
    content: "\e9e3";
  }
  .budicon-indent-left:before {
    content: "\e9e4";
  }
  .budicon-indent-right:before {
    content: "\e9e5";
  }
  .budicon-justify-center:before {
    content: "\e9e6";
  }
  .budicon-justify-left:before {
    content: "\e9e7";
  }
  .budicon-justify-right:before {
    content: "\e9e8";
  }
  .budicon-keyboard-appear:before {
    content: "\e9e9";
  }
  .budicon-keyboard-down:before {
    content: "\e9ea";
  }
  .budicon-media-player-page:before {
    content: "\e9eb";
  }
  .budicon-page-blank:before {
    content: "\e9ec";
  }
  .budicon-page-block:before {
    content: "\e9ed";
  }
  .budicon-page-cross:before {
    content: "\e9ee";
  }
  .budicon-page-lock:before {
    content: "\e9ef";
  }
  .budicon-page-mark:before {
    content: "\e9f0";
  }
  .budicon-page-minus:before {
    content: "\e9f1";
  }
  .budicon-page-plus:before {
    content: "\e9f2";
  }
  .budicon-page-tick:before {
    content: "\e9f3";
  }
  .budicon-pen-add:before {
    content: "\e9f4";
  }
  .budicon-pen-cross:before {
    content: "\e9f5";
  }
  .budicon-pen-minus:before {
    content: "\e9f6";
  }
  .budicon-pen-tick:before {
    content: "\e9f7";
  }
  .budicon-pen-writing:before {
    content: "\e9f8";
  }
  .budicon-pen:before {
    content: "\e9f9";
  }
  .budicon-pencil-writing:before {
    content: "\e9fa";
  }
  .budicon-reading-list:before {
    content: "\e9fb";
  }
  .budicon-redo:before {
    content: "\e9fc";
  }
  .budicon-search-page:before {
    content: "\e9fd";
  }
  .budicon-text-box:before {
    content: "\e9fe";
  }
  .budicon-undo:before {
    content: "\e9ff";
  }
  .budicon-vertical-align-bottom:before {
    content: "\ea00";
  }
  .budicon-vertical-align-top:before {
    content: "\ea01";
  }
  .budicon-vertical-allign-middle:before {
    content: "\ea02";
  }
  .budicon-writing-link:before {
    content: "\ea03";
  }
  .budicon-ambulance:before {
    content: "\ea04";
  }
  .budicon-baby:before {
    content: "\ea05";
  }
  .budicon-bandage:before {
    content: "\ea06";
  }
  .budicon-blood-donation:before {
    content: "\ea07";
  }
  .budicon-blood-transfusion:before {
    content: "\ea08";
  }
  .budicon-blood-type:before {
    content: "\ea09";
  }
  .budicon-blood:before {
    content: "\ea0a";
  }
  .budicon-body-weigher:before {
    content: "\ea0b";
  }
  .budicon-cardio-record:before {
    content: "\ea0c";
  }
  .budicon-dialysis:before {
    content: "\ea0d";
  }
  .budicon-dna:before {
    content: "\ea0e";
  }
  .budicon-eye-chart:before {
    content: "\ea0f";
  }
  .budicon-eye-sight:before {
    content: "\ea10";
  }
  .budicon-handicap:before {
    content: "\ea11";
  }
  .budicon-hearing:before {
    content: "\ea12";
  }
  .budicon-heart-monitor:before {
    content: "\ea13";
  }
  .budicon-heart-rate:before {
    content: "\ea14";
  }
  .budicon-hiv-ribbon:before {
    content: "\ea15";
  }
  .budicon-hospital-sign:before {
    content: "\ea16";
  }
  .budicon-hospital:before {
    content: "\ea17";
  }
  .budicon-infusion:before {
    content: "\ea18";
  }
  .budicon-injection:before {
    content: "\ea19";
  }
  .budicon-lab-liquid:before {
    content: "\ea1a";
  }
  .budicon-lab-test:before {
    content: "\ea1b";
  }
  .budicon-lab:before {
    content: "\ea1c";
  }
  .budicon-medical-assistance:before {
    content: "\ea1d";
  }
  .budicon-medical-bag:before {
    content: "\ea1e";
  }
  .budicon-medical-case:before {
    content: "\ea1f";
  }
  .budicon-medical-liquid:before {
    content: "\ea20";
  }
  .budicon-medical-note:before {
    content: "\ea21";
  }
  .budicon-medical-record:before {
    content: "\e976";
  }
  .budicon-medicine:before {
    content: "\ea23";
  }
  .budicon-online-medical:before {
    content: "\ea24";
  }
  .budicon-pills:before {
    content: "\ea25";
  }
  .budicon-potions:before {
    content: "\ea26";
  }
  .budicon-scale:before {
    content: "\ea27";
  }
  .budicon-sperm:before {
    content: "\ea28";
  }
  .budicon-sthethoscope:before {
    content: "\ea29";
  }
  .budicon-themometer:before {
    content: "\ea2a";
  }
  .budicon-x-ray:before {
    content: "\ea2b";
  }
  .budicon-aperture:before {
    content: "\ea2c";
  }
  .budicon-area-focus:before {
    content: "\ea2d";
  }
  .budicon-brightness-a:before {
    content: "\ea2e";
  }
  .budicon-brightness:before {
    content: "\ea2f";
  }
  .budicon-camera-scan:before {
    content: "\ea30";
  }
  .budicon-camera-timer:before {
    content: "\ea31";
  }
  .budicon-camera-wifi:before {
    content: "\ea32";
  }
  .budicon-camera:before {
    content: "\ea33";
  }
  .budicon-cityscape:before {
    content: "\ea34";
  }
  .budicon-crop:before {
    content: "\ea35";
  }
  .budicon-dslr-menu:before {
    content: "\ea36";
  }
  .budicon-exposure-compensation:before {
    content: "\ea37";
  }
  .budicon-exposure:before {
    content: "\ea38";
  }
  .budicon-film-clip:before {
    content: "\ea39";
  }
  .budicon-flashlight:before {
    content: "\ea3a";
  }
  .budicon-flip-horizontal:before {
    content: "\ea3b";
  }
  .budicon-flip-vertical:before {
    content: "\ea3c";
  }
  .budicon-focus-point:before {
    content: "\ea3d";
  }
  .budicon-grid:before {
    content: "\ea3e";
  }
  .budicon-half-exposure:before {
    content: "\ea3f";
  }
  .budicon-landscape:before {
    content: "\ea40";
  }
  .budicon-live-video:before {
    content: "\ea41";
  }
  .budicon-pocket-camera:before {
    content: "\ea42";
  }
  .budicon-polaroid-stack:before {
    content: "\ea43";
  }
  .budicon-polaroid:before {
    content: "\ea44";
  }
  .budicon-red-eye-detection:before {
    content: "\ea45";
  }
  .budicon-roll-film:before {
    content: "\ea46";
  }
  .budicon-rotate-camera:before {
    content: "\ea47";
  }
  .budicon-rotate-image:before {
    content: "\ea48";
  }
  .budicon-sharpen:before {
    content: "\ea49";
  }
  .budicon-single-point-focus:before {
    content: "\ea4a";
  }
  .budicon-slideshow-photo:before {
    content: "\ea4b";
  }
  .budicon-smile-detection:before {
    content: "\ea4c";
  }
  .budicon-video-cam-a:before {
    content: "\ea4d";
  }
  .budicon-video-cam:before {
    content: "\ea4e";
  }
  .budicon-video-recorder:before {
    content: "\ea4f";
  }
  .budicon-vintage-camera:before {
    content: "\ea50";
  }
  .budicon-bottom-aligned:before {
    content: "\ea51";
  }
  .budicon-center-aligned:before {
    content: "\ea52";
  }
  .budicon-clipboard:before {
    content: "\ea53";
  }
  .budicon-design-compass:before {
    content: "\ea54";
  }
  .budicon-doodle:before {
    content: "\ea55";
  }
  .budicon-eraser:before {
    content: "\ea56";
  }
  .budicon-horizontal-distribute:before {
    content: "\ea57";
  }
  .budicon-left-aligned:before {
    content: "\ea58";
  }
  .budicon-middle-aligned:before {
    content: "\ea59";
  }
  .budicon-prototype:before {
    content: "\ea5a";
  }
  .budicon-right-aligned:before {
    content: "\ea5b";
  }
  .budicon-ruler:before {
    content: "\ea5c";
  }
  .budicon-top-aligned:before {
    content: "\ea5d";
  }
  .budicon-vector-clipboard:before {
    content: "\ea5e";
  }
  .budicon-vector-editing:before {
    content: "\ea5f";
  }
  .budicon-vertical-distribute:before {
    content: "\ea60";
  }
  .budicon-alien:before {
    content: "\ea61";
  }
  .budicon-astronout:before {
    content: "\ea62";
  }
  .budicon-comet:before {
    content: "\ea63";
  }
  .budicon-earth:before {
    content: "\ea64";
  }
  .budicon-galaxy-hole:before {
    content: "\ea65";
  }
  .budicon-galaxy:before {
    content: "\ea66";
  }
  .budicon-jupiter:before {
    content: "\ea67";
  }
  .budicon-lunar-flag:before {
    content: "\ea68";
  }
  .budicon-mars:before {
    content: "\ea69";
  }
  .budicon-observatory:before {
    content: "\ea6a";
  }
  .budicon-radar2:before {
    content: "\ea6b";
  }
  .budicon-raygun:before {
    content: "\ea6c";
  }
  .budicon-research:before {
    content: "\ea6d";
  }
  .budicon-robot:before {
    content: "\ea6e";
  }
  .budicon-rocket:before {
    content: "\ea6f";
  }
  .budicon-satellite:before {
    content: "\ea70";
  }
  .budicon-saturn:before {
    content: "\ea71";
  }
  .budicon-science:before {
    content: "\ea72";
  }
  .budicon-space-helmet:before {
    content: "\ea73";
  }
  .budicon-space-house:before {
    content: "\ea74";
  }
  .budicon-space-shuttle:before {
    content: "\ea75";
  }
  .budicon-spaceship:before {
    content: "\ea76";
  }
  .budicon-telescope:before {
    content: "\ea77";
  }
  .budicon-ufo:before {
    content: "\ea78";
  }
  .budicon-search-task:before {
    content: "\ea79";
  }
  .budicon-task-alert:before {
    content: "\ea7a";
  }
  .budicon-task-block:before {
    content: "\ea7b";
  }
  .budicon-task-cross:before {
    content: "\ea7c";
  }
  .budicon-task-download:before {
    content: "\ea7d";
  }
  .budicon-task-favorite:before {
    content: "\ea7e";
  }
  .budicon-task-information:before {
    content: "\ea7f";
  }
  .budicon-task-list:before {
    content: "\ea80";
  }
  .budicon-task-lock:before {
    content: "\ea81";
  }
  .budicon-task-love:before {
    content: "\ea82";
  }
  .budicon-task-minus:before {
    content: "\ea83";
  }
  .budicon-task-plus:before {
    content: "\ea84";
  }
  .budicon-task-question:before {
    content: "\ea85";
  }
  .budicon-task-scheduled:before {
    content: "\ea86";
  }
  .budicon-task-shared:before {
    content: "\ea87";
  }
  .budicon-task-tick:before {
    content: "\ea88";
  }
  .budicon-task-upload:before {
    content: "\ea89";
  }
  .budicon-task:before {
    content: "\ea8a";
  }
  .budicon-d-glasses:before {
    content: "\ea8b";
  }
  .budicon-airdrop:before {
    content: "\ea8c";
  }
  .budicon-android-landscape:before {
    content: "\ea8d";
  }
  .budicon-android-wifi:before {
    content: "\ea8e";
  }
  .budicon-android:before {
    content: "\ea8f";
  }
  .budicon-bluetooth-circle:before {
    content: "\ea90";
  }
  .budicon-bluetooth:before {
    content: "\ea91";
  }
  .budicon-browser-cross:before {
    content: "\ea92";
  }
  .budicon-browser-minus:before {
    content: "\ea93";
  }
  .budicon-browser-plus:before {
    content: "\ea94";
  }
  .budicon-browser-tick:before {
    content: "\ea95";
  }
  .budicon-browser:before {
    content: "\ea96";
  }
  .budicon-cable-cord:before {
    content: "\ea97";
  }
  .budicon-cardboard:before {
    content: "\ea98";
  }
  .budicon-charging:before {
    content: "\ea99";
  }
  .budicon-chrome-cast:before {
    content: "\ea9a";
  }
  .budicon-cloud-server:before {
    content: "\ea9b";
  }
  .budicon-desktop-smartphone:before {
    content: "\ea9c";
  }
  .budicon-desktop-wifi:before {
    content: "\ea9d";
  }
  .budicon-desktop:before {
    content: "\ea9e";
  }
  .budicon-development-bug:before {
    content: "\ea9f";
  }
  .budicon-drone:before {
    content: "\eaa0";
  }
  .budicon-dvd-i-cable:before {
    content: "\eaa1";
  }
  .budicon-flashlight2:before {
    content: "\eaa2";
  }
  .budicon-game-console:before {
    content: "\eaa3";
  }
  .budicon-gameboy:before {
    content: "\eaa4";
  }
  .budicon-gaming-mouse:before {
    content: "\eaa5";
  }
  .budicon-google-phone-landscape:before {
    content: "\eaa6";
  }
  .budicon-google-phone:before {
    content: "\eaa7";
  }
  .budicon-hdmi-cable:before {
    content: "\eaa8";
  }
  .budicon-hosting-server:before {
    content: "\eaa9";
  }
  .budicon-house-cloud:before {
    content: "\eaaa";
  }
  .budicon-house-network:before {
    content: "\eaab";
  }
  .budicon-internet-network:before {
    content: "\eaac";
  }
  .budicon-iphone-landscape:before {
    content: "\eaad";
  }
  .budicon-iphone-wifi:before {
    content: "\eaae";
  }
  .budicon-iphone:before {
    content: "\eaaf";
  }
  .budicon-keyboard-a:before {
    content: "\eab0";
  }
  .budicon-keyboard:before {
    content: "\eab1";
  }
  .budicon-laptop-smartphone:before {
    content: "\eab2";
  }
  .budicon-laptop-wifi:before {
    content: "\eab3";
  }
  .budicon-laptop:before {
    content: "\eab4";
  }
  .budicon-magic-mouse:before {
    content: "\eab5";
  }
  .budicon-magnet:before {
    content: "\eab6";
  }
  .budicon-mobile-earphone:before {
    content: "\eab7";
  }
  .budicon-mobile-photo-scan:before {
    content: "\eab8";
  }
  .budicon-modem-externder:before {
    content: "\eab9";
  }
  .budicon-modem:before {
    content: "\eaba";
  }
  .budicon-nintendo-console:before {
    content: "\eabb";
  }
  .budicon-processor-chip:before {
    content: "\eabc";
  }
  .budicon-projector:before {
    content: "\eabd";
  }
  .budicon-remote-control:before {
    content: "\eabe";
  }
  .budicon-search-browser:before {
    content: "\eabf";
  }
  .budicon-security-guard:before {
    content: "\eac0";
  }
  .budicon-signal-tower:before {
    content: "\eac1";
  }
  .budicon-television:before {
    content: "\eac2";
  }
  .budicon-usb-cable:before {
    content: "\eac3";
  }
  .budicon-webcam:before {
    content: "\eac4";
  }
  .budicon-world-connection:before {
    content: "\eac5";
  }
  .budicon-world-network:before {
    content: "\eac6";
  }
  .budicon-note-alert:before {
    content: "\eac7";
  }
  .budicon-note-block:before {
    content: "\eac8";
  }
  .budicon-note-cross:before {
    content: "\eac9";
  }
  .budicon-note-download:before {
    content: "\eaca";
  }
  .budicon-note-favorite:before {
    content: "\eacb";
  }
  .budicon-note-information:before {
    content: "\eacc";
  }
  .budicon-note-lock:before {
    content: "\eacd";
  }
  .budicon-note-love:before {
    content: "\eace";
  }
  .budicon-note-minus:before {
    content: "\eacf";
  }
  .budicon-note-plus:before {
    content: "\ead0";
  }
  .budicon-note-quesrion:before {
    content: "\ead1";
  }
  .budicon-note-search:before {
    content: "\ead2";
  }
  .budicon-note-tick:before {
    content: "\ead3";
  }
  .budicon-note-upload:before {
    content: "\ead4";
  }
  .budicon-note:before {
    content: "\ead5";
  }
  .budicon-notes-alert:before {
    content: "\ead6";
  }
  .budicon-notes-blank:before {
    content: "\ead7";
  }
  .budicon-notes-block:before {
    content: "\ead8";
  }
  .budicon-notes-cross:before {
    content: "\ead9";
  }
  .budicon-notes-download:before {
    content: "\eada";
  }
  .budicon-notes-favorite:before {
    content: "\eadb";
  }
  .budicon-notes-information:before {
    content: "\eadc";
  }
  .budicon-notes-list-a:before {
    content: "\eadd";
  }
  .budicon-notes-list:before {
    content: "\eade";
  }
  .budicon-notes-lock:before {
    content: "\eadf";
  }
  .budicon-notes-love:before {
    content: "\eae0";
  }
  .budicon-notes-minus:before {
    content: "\eae1";
  }
  .budicon-notes-plus:before {
    content: "\eae2";
  }
  .budicon-notes-question:before {
    content: "\eae3";
  }
  .budicon-notes-search:before {
    content: "\eae4";
  }
  .budicon-notes-tick:before {
    content: "\eae5";
  }
  .budicon-notes-upload:before {
    content: "\eae6";
  }
  .budicon-scheduled-note:before {
    content: "\eae7";
  }
  .budicon-scheduled-notes:before {
    content: "\eae8";
  }
  .budicon-shared-note:before {
    content: "\eae9";
  }
  .budicon-shared-notes:before {
    content: "\eaea";
  }
  .budicon-announcement:before {
    content: "\eaeb";
  }
  .budicon-at-symbol:before {
    content: "\eaec";
  }
  .budicon-broadcast:before {
    content: "\eaed";
  }
  .budicon-call:before {
    content: "\eaee";
  }
  .budicon-chat-alert:before {
    content: "\eaef";
  }
  .budicon-chat-block:before {
    content: "\eaf0";
  }
  .budicon-chat-cross:before {
    content: "\eaf1";
  }
  .budicon-chat-download:before {
    content: "\eaf2";
  }
  .budicon-chat-favorite:before {
    content: "\eaf3";
  }
  .budicon-chat-information:before {
    content: "\eaf4";
  }
  .budicon-chat-lock:before {
    content: "\eaf5";
  }
  .budicon-chat-love:before {
    content: "\eaf6";
  }
  .budicon-chat-minus:before {
    content: "\eaf7";
  }
  .budicon-chat-plus:before {
    content: "\eaf8";
  }
  .budicon-chat-question:before {
    content: "\eaf9";
  }
  .budicon-chat-scheduled:before {
    content: "\eafa";
  }
  .budicon-chat-thread:before {
    content: "\eafb";
  }
  .budicon-chat-tick:before {
    content: "\eafc";
  }
  .budicon-chat-upload:before {
    content: "\eafd";
  }
  .budicon-chat:before {
    content: "\eafe";
  }
  .budicon-connection:before {
    content: "\eaff";
  }
  .budicon-conversation:before {
    content: "\eb00";
  }
  .budicon-dropped-cap:before {
    content: "\eb01";
  }
  .budicon-email-alert:before {
    content: "\eb02";
  }
  .budicon-email-block:before {
    content: "\eb03";
  }
  .budicon-email-cross:before {
    content: "\eb04";
  }
  .budicon-email-download:before {
    content: "\eb05";
  }
  .budicon-email-favorite:before {
    content: "\eb06";
  }
  .budicon-email-forward:before {
    content: "\eb07";
  }
  .budicon-email-front-envelope:before {
    content: "\eb08";
  }
  .budicon-email-information:before {
    content: "\eb09";
  }
  .budicon-email-lock:before {
    content: "\eb0a";
  }
  .budicon-email-love:before {
    content: "\eb0b";
  }
  .budicon-email-minus:before {
    content: "\eb0c";
  }
  .budicon-email-plus:before {
    content: "\eb0d";
  }
  .budicon-email-tick:before {
    content: "\eb0e";
  }
  .budicon-email-undo:before {
    content: "\eb0f";
  }
  .budicon-email-upload:before {
    content: "\eb10";
  }
  .budicon-email:before {
    content: "\eb11";
  }
  .budicon-happy-chat:before {
    content: "\eb12";
  }
  .budicon-happy-sticker:before {
    content: "\eb13";
  }
  .budicon-incoming-call:before {
    content: "\eb14";
  }
  .budicon-international-call:before {
    content: "\eb15";
  }
  .budicon-mailbox:before {
    content: "\eb16";
  }
  .budicon-mobile-chat:before {
    content: "\eb17";
  }
  .budicon-mobile-email:before {
    content: "\eb18";
  }
  .budicon-numpad:before {
    content: "\eb19";
  }
  .budicon-outgoing-call:before {
    content: "\eb1a";
  }
  .budicon-phone-block:before {
    content: "\eb1b";
  }
  .budicon-phone-connection:before {
    content: "\eb1c";
  }
  .budicon-phone-directed:before {
    content: "\eb1d";
  }
  .budicon-phone-forward:before {
    content: "\eb1e";
  }
  .budicon-phone-hold:before {
    content: "\eb1f";
  }
  .budicon-phone-lock:before {
    content: "\eb20";
  }
  .budicon-phone-love:before {
    content: "\eb21";
  }
  .budicon-phone-voicemail:before {
    content: "\eb22";
  }
  .budicon-phone:before {
    content: "\eb23";
  }
  .budicon-quill-pen:before {
    content: "\eb24";
  }
  .budicon-sad-chat:before {
    content: "\eb25";
  }
  .budicon-sad-sticker:before {
    content: "\eb26";
  }
  .budicon-search-chat:before {
    content: "\eb27";
  }
  .budicon-search-email:before {
    content: "\eb28";
  }
  .budicon-sending-message:before {
    content: "\eb29";
  }
  .budicon-shared-chat:before {
    content: "\eb2a";
  }
  .budicon-shared-email:before {
    content: "\eb2b";
  }
  .budicon-signal-source:before {
    content: "\eb2c";
  }
  .budicon-signal:before {
    content: "\eb2d";
  }
  .budicon-sms:before {
    content: "\eb2e";
  }
  .budicon-spam:before {
    content: "\eb2f";
  }
  .budicon-stickers:before {
    content: "\eb30";
  }
  .budicon-typing-chat:before {
    content: "\eb31";
  }
  .budicon-video-chat:before {
    content: "\eb32";
  }
  .budicon-voice-mail:before {
    content: "\eb33";
  }
  .budicon-web-chat:before {
    content: "\eb34";
  }
  .budicon-web-sms:before {
    content: "\eb35";
  }
  .budicon-abc-blocks:before {
    content: "\eb36";
  }
  .budicon-baby-bottle:before {
    content: "\eb37";
  }
  .budicon-baby-dot:before {
    content: "\eb38";
  }
  .budicon-baby-jumper:before {
    content: "\eb39";
  }
  .budicon-balloon:before {
    content: "\eb3a";
  }
  .budicon-birthday-cake:before {
    content: "\eb3b";
  }
  .budicon-birthday-party:before {
    content: "\eb3c";
  }
  .budicon-castle-toy:before {
    content: "\eb3d";
  }
  .budicon-diaper:before {
    content: "\eb3e";
  }
  .budicon-girl-clothes:before {
    content: "\eb3f";
  }
  .budicon-gun-toy:before {
    content: "\eb40";
  }
  .budicon-kid-bottle-love:before {
    content: "\eb41";
  }
  .budicon-kid-bottle:before {
    content: "\eb42";
  }
  .budicon-kite:before {
    content: "\eb43";
  }
  .budicon-shape-blocks:before {
    content: "\eb44";
  }
  .budicon-teddy-bear:before {
    content: "\eb45";
  }
  .budicon-thermometer:before {
    content: "\eb46";
  }
  .budicon-train-toy:before {
    content: "\eb47";
  }
  .budicon-aluminum-bag:before {
    content: "\eb48";
  }
  .budicon-brown-envelope:before {
    content: "\eb49";
  }
  .budicon-business-checklist:before {
    content: "\eb4a";
  }
  .budicon-business-growth:before {
    content: "\eb4b";
  }
  .budicon-business-note:before {
    content: "\eb4c";
  }
  .budicon-business-performance:before {
    content: "\eb4d";
  }
  .budicon-business-plan:before {
    content: "\eb4e";
  }
  .budicon-business-strategy:before {
    content: "\eb4f";
  }
  .budicon-business-target:before {
    content: "\eb50";
  }
  .budicon-calculator:before {
    content: "\eb51";
  }
  .budicon-cheque:before {
    content: "\eb52";
  }
  .budicon-deal:before {
    content: "\eb53";
  }
  .budicon-duct-tape:before {
    content: "\eb54";
  }
  .budicon-file-storage:before {
    content: "\eb55";
  }
  .budicon-filing:before {
    content: "\eb56";
  }
  .budicon-office-bag-a:before {
    content: "\eb57";
  }
  .budicon-office-bag-b:before {
    content: "\eb58";
  }
  .budicon-office-bag-c:before {
    content: "\eb59";
  }
  .budicon-office-bag:before {
    content: "\eb5a";
  }
  .budicon-office-stationary:before {
    content: "\eb5b";
  }
  .budicon-organization:before {
    content: "\eb5c";
  }
  .budicon-photocopy-machine:before {
    content: "\eb5d";
  }
  .budicon-presentation-deck:before {
    content: "\eb5e";
  }
  .budicon-presentation:before {
    content: "\eb5f";
  }
  .budicon-project-folder:before {
    content: "\eb60";
  }
  .budicon-safe-deposit:before {
    content: "\eb61";
  }
  .budicon-shredder:before {
    content: "\eb62";
  }
  .budicon-speech:before {
    content: "\eb63";
  }
  .budicon-stapler:before {
    content: "\eb64";
  }
  .budicon-tie:before {
    content: "\eb65";
  }
  .budicon-air-conditioner:before {
    content: "\eb66";
  }
  .budicon-armchair:before {
    content: "\eb67";
  }
  .budicon-bathup:before {
    content: "\eb68";
  }
  .budicon-bed-lamp:before {
    content: "\eb69";
  }
  .budicon-bed-side-a:before {
    content: "\eb6a";
  }
  .budicon-bed-side-table:before {
    content: "\eb6b";
  }
  .budicon-bed-side:before {
    content: "\eb6c";
  }
  .budicon-bed:before {
    content: "\eb6d";
  }
  .budicon-big-dresser:before {
    content: "\eb6e";
  }
  .budicon-book-cabinet:before {
    content: "\eb6f";
  }
  .budicon-cabinet:before {
    content: "\eb70";
  }
  .budicon-candle:before {
    content: "\eb71";
  }
  .budicon-chest:before {
    content: "\eb72";
  }
  .budicon-closet:before {
    content: "\eb73";
  }
  .budicon-dining-chair:before {
    content: "\eb74";
  }
  .budicon-door:before {
    content: "\eb75";
  }
  .budicon-dresser-table:before {
    content: "\eb76";
  }
  .budicon-dresser:before {
    content: "\eb77";
  }
  .budicon-dryer:before {
    content: "\eb78";
  }
  .budicon-fireplace:before {
    content: "\eb79";
  }
  .budicon-flower:before {
    content: "\eb7a";
  }
  .budicon-futon:before {
    content: "\eb7b";
  }
  .budicon-hanging-lamp:before {
    content: "\eb7c";
  }
  .budicon-home-alert:before {
    content: "\eb7d";
  }
  .budicon-home-safe:before {
    content: "\eb7e";
  }
  .budicon-hutch:before {
    content: "\eb7f";
  }
  .budicon-indoor-plant:before {
    content: "\eb80";
  }
  .budicon-indoor-seat:before {
    content: "\eb81";
  }
  .budicon-lamp:before {
    content: "\eb82";
  }
  .budicon-lightbulb:before {
    content: "\eb83";
  }
  .budicon-long-desk:before {
    content: "\eb84";
  }
  .budicon-low-cabinet:before {
    content: "\eb85";
  }
  .budicon-open-door:before {
    content: "\eb86";
  }
  .budicon-outdoor-seat:before {
    content: "\eb87";
  }
  .budicon-plant:before {
    content: "\eb88";
  }
  .budicon-rocking-chair:before {
    content: "\eb89";
  }
  .budicon-round-armchair:before {
    content: "\eb8a";
  }
  .budicon-round-chair:before {
    content: "\eb8b";
  }
  .budicon-showcase-desk:before {
    content: "\eb8c";
  }
  .budicon-shower:before {
    content: "\eb8d";
  }
  .budicon-sink:before {
    content: "\eb8e";
  }
  .budicon-smart-lamp:before {
    content: "\eb8f";
  }
  .budicon-sofa:before {
    content: "\eb90";
  }
  .budicon-standing-lamp:before {
    content: "\eb91";
  }
  .budicon-storage-desk:before {
    content: "\eb92";
  }
  .budicon-sunflower:before {
    content: "\eb93";
  }
  .budicon-table-lamp:before {
    content: "\eb94";
  }
  .budicon-tv-desk:before {
    content: "\eb95";
  }
  .budicon-vintage-bed-lamp:before {
    content: "\eb96";
  }
  .budicon-vintage-chest:before {
    content: "\eb97";
  }
  .budicon-vintage-futon:before {
    content: "\eb98";
  }
  .budicon-vintage-sofa:before {
    content: "\eb99";
  }
  .budicon-wardrobe:before {
    content: "\eb9a";
  }
  .budicon-washer:before {
    content: "\eb9b";
  }
  .budicon-windsor-chair:before {
    content: "\eb9c";
  }
  .budicon-wingback-chair:before {
    content: "\eb9d";
  }
  .budicon-work-desk:before {
    content: "\eb9e";
  }
  .budicon-archery:before {
    content: "\eb9f";
  }
  .budicon-badminton:before {
    content: "\eba0";
  }
  .budicon-baseball-a:before {
    content: "\eba1";
  }
  .budicon-baseball:before {
    content: "\eba2";
  }
  .budicon-basketball-field:before {
    content: "\eba3";
  }
  .budicon-basketball-ring:before {
    content: "\eba4";
  }
  .budicon-basketball:before {
    content: "\eba5";
  }
  .budicon-boxing:before {
    content: "\eba6";
  }
  .budicon-canoe:before {
    content: "\eba7";
  }
  .budicon-champion:before {
    content: "\eba8";
  }
  .budicon-commentator:before {
    content: "\eba9";
  }
  .budicon-crickets:before {
    content: "\ebaa";
  }
  .budicon-diving:before {
    content: "\ebab";
  }
  .budicon-drinking-bottles:before {
    content: "\ebac";
  }
  .budicon-dumbell:before {
    content: "\ebad";
  }
  .budicon-energy-drink:before {
    content: "\ebae";
  }
  .budicon-energy-pill:before {
    content: "\ebaf";
  }
  .budicon-fencing:before {
    content: "\ebb0";
  }
  .budicon-football-field:before {
    content: "\ebb1";
  }
  .budicon-football:before {
    content: "\ebb2";
  }
  .budicon-formation:before {
    content: "\ebb3";
  }
  .budicon-golf:before {
    content: "\ebb4";
  }
  .budicon-hockey:before {
    content: "\ebb5";
  }
  .budicon-injury:before {
    content: "\ebb6";
  }
  .budicon-king:before {
    content: "\ebb7";
  }
  .budicon-live-sport:before {
    content: "\ebb8";
  }
  .budicon-medication:before {
    content: "\ebb9";
  }
  .budicon-nfl:before {
    content: "\ebba";
  }
  .budicon-olympic:before {
    content: "\ebbb";
  }
  .budicon-ping-pong:before {
    content: "\ebbc";
  }
  .budicon-racing-flag:before {
    content: "\ebbd";
  }
  .budicon-referee:before {
    content: "\ebbe";
  }
  .budicon-runner-outfit:before {
    content: "\ebbf";
  }
  .budicon-sneakers:before {
    content: "\ebc0";
  }
  .budicon-soccer-ball:before {
    content: "\ebc1";
  }
  .budicon-speed:before {
    content: "\ebc2";
  }
  .budicon-spikes:before {
    content: "\ebc3";
  }
  .budicon-sport-card:before {
    content: "\ebc4";
  }
  .budicon-sumo:before {
    content: "\ebc5";
  }
  .budicon-team-strategy:before {
    content: "\ebc6";
  }
  .budicon-tennis-ball:before {
    content: "\ebc7";
  }
  .budicon-trophy:before {
    content: "\ebc8";
  }
  .budicon-uniform:before {
    content: "\ebc9";
  }
  .budicon-voley-ball:before {
    content: "\ebca";
  }
  .budicon-volley-ball:before {
    content: "\ebcb";
  }
  .budicon-white-flag:before {
    content: "\ebcc";
  }
  .budicon-apple:before {
    content: "\ebcd";
  }
  .budicon-avocado:before {
    content: "\ebce";
  }
  .budicon-bacon:before {
    content: "\ebcf";
  }
  .budicon-basil:before {
    content: "\ebd0";
  }
  .budicon-beer:before {
    content: "\ebd1";
  }
  .budicon-bottle-water:before {
    content: "\ebd2";
  }
  .budicon-bowl:before {
    content: "\ebd3";
  }
  .budicon-bubble-tea:before {
    content: "\ebd4";
  }
  .budicon-carrot:before {
    content: "\ebd5";
  }
  .budicon-cheers:before {
    content: "\ebd6";
  }
  .budicon-cherry:before {
    content: "\ebd7";
  }
  .budicon-chinese-food-a:before {
    content: "\ebd8";
  }
  .budicon-chinese-food:before {
    content: "\ebd9";
  }
  .budicon-cocktail:before {
    content: "\ebda";
  }
  .budicon-coffee-cup:before {
    content: "\ebdb";
  }
  .budicon-corn:before {
    content: "\ebdc";
  }
  .budicon-croissant:before {
    content: "\ebdd";
  }
  .budicon-cupcake:before {
    content: "\ebde";
  }
  .budicon-donut:before {
    content: "\ebdf";
  }
  .budicon-door-board:before {
    content: "\ebe0";
  }
  .budicon-egg:before {
    content: "\ebe1";
  }
  .budicon-fork-knife:before {
    content: "\ebe2";
  }
  .budicon-fork-spoon:before {
    content: "\ebe3";
  }
  .budicon-french-fries:before {
    content: "\ebe4";
  }
  .budicon-grapes:before {
    content: "\ebe5";
  }
  .budicon-hamburger:before {
    content: "\ebe6";
  }
  .budicon-honey:before {
    content: "\ebe7";
  }
  .budicon-hot-drink:before {
    content: "\ebe8";
  }
  .budicon-hot-tea:before {
    content: "\ebe9";
  }
  .budicon-hotdog:before {
    content: "\ebea";
  }
  .budicon-ice-cream-cone:before {
    content: "\ebeb";
  }
  .budicon-ice-cream-stick:before {
    content: "\ebec";
  }
  .budicon-jam:before {
    content: "\ebed";
  }
  .budicon-ketchup-bottle:before {
    content: "\ebee";
  }
  .budicon-lemon:before {
    content: "\ebef";
  }
  .budicon-lettuce:before {
    content: "\ebf0";
  }
  .budicon-mango:before {
    content: "\ebf1";
  }
  .budicon-mayonnaise:before {
    content: "\ebf2";
  }
  .budicon-meal:before {
    content: "\ebf3";
  }
  .budicon-milk-bottle:before {
    content: "\ebf4";
  }
  .budicon-milk:before {
    content: "\ebf5";
  }
  .budicon-noodle-bowl:before {
    content: "\ebf6";
  }
  .budicon-onigiri:before {
    content: "\ebf7";
  }
  .budicon-onion:before {
    content: "\ebf8";
  }
  .budicon-organic-drink:before {
    content: "\ebf9";
  }
  .budicon-pepper:before {
    content: "\ebfa";
  }
  .budicon-pineapple:before {
    content: "\ebfb";
  }
  .budicon-pizza:before {
    content: "\ebfc";
  }
  .budicon-pumpkin:before {
    content: "\ebfd";
  }
  .budicon-ramen:before {
    content: "\ebfe";
  }
  .budicon-salt:before {
    content: "\ebff";
  }
  .budicon-sandwich:before {
    content: "\ec00";
  }
  .budicon-sauce-tube:before {
    content: "\ec01";
  }
  .budicon-sauce:before {
    content: "\ec02";
  }
  .budicon-soda-can:before {
    content: "\ec03";
  }
  .budicon-soup-bowl:before {
    content: "\ec04";
  }
  .budicon-soy-sauce:before {
    content: "\ec05";
  }
  .budicon-steak:before {
    content: "\ec06";
  }
  .budicon-strawberry:before {
    content: "\ec07";
  }
  .budicon-sushi:before {
    content: "\ec08";
  }
  .budicon-taco:before {
    content: "\ec09";
  }
  .budicon-tea-cup:before {
    content: "\ec0a";
  }
  .budicon-toast:before {
    content: "\ec0b";
  }
  .budicon-turkey:before {
    content: "\ec0c";
  }
  .budicon-utensil:before {
    content: "\ec0d";
  }
  .budicon-vegetarian:before {
    content: "\ec0e";
  }
  .budicon-watermelon:before {
    content: "\ec0f";
  }
  .budicon-white-bread:before {
    content: "\ec10";
  }
  .budicon-wine-bottle:before {
    content: "\ec11";
  }
  .budicon-wine-glass:before {
    content: "\ec12";
  }
  .budicon-wine:before {
    content: "\ec13";
  }
  .budicon-backpack:before {
    content: "\ec14";
  }
  .budicon-barcode:before {
    content: "\ec15";
  }
  .budicon-bill-cross:before {
    content: "\ec16";
  }
  .budicon-bill-download:before {
    content: "\ec17";
  }
  .budicon-bill-lock:before {
    content: "\ec18";
  }
  .budicon-bill-minus:before {
    content: "\ec19";
  }
  .budicon-bill-plus:before {
    content: "\ec1a";
  }
  .budicon-bill-tick:before {
    content: "\ec1b";
  }
  .budicon-bill-upload:before {
    content: "\ec1c";
  }
  .budicon-bill:before {
    content: "\ec1d";
  }
  .budicon-bow-tie:before {
    content: "\ec1e";
  }
  .budicon-cart-cross:before {
    content: "\ec1f";
  }
  .budicon-cart-download:before {
    content: "\ec20";
  }
  .budicon-cart-lock:before {
    content: "\ec21";
  }
  .budicon-cart-love:before {
    content: "\ec22";
  }
  .budicon-cart-minus:before {
    content: "\ec23";
  }
  .budicon-cart-plus:before {
    content: "\ec24";
  }
  .budicon-cart-search:before {
    content: "\ec25";
  }
  .budicon-cart-tick:before {
    content: "\ec26";
  }
  .budicon-cart-upload:before {
    content: "\ec27";
  }
  .budicon-cart:before {
    content: "\ec28";
  }
  .budicon-credit-card-a:before {
    content: "\ec29";
  }
  .budicon-credit-card:before {
    content: "\ec2a";
  }
  .budicon-digital-download:before {
    content: "\ec2b";
  }
  .budicon-digital-upload:before {
    content: "\ec2c";
  }
  .budicon-discount-coupon:before {
    content: "\ec2d";
  }
  .budicon-dollar-paper-a:before {
    content: "\ec2e";
  }
  .budicon-dollar-paper:before {
    content: "\ec2f";
  }
  .budicon-express:before {
    content: "\ec30";
  }
  .budicon-hiking-backpack:before {
    content: "\ec31";
  }
  .budicon-invoice:before {
    content: "\ec32";
  }
  .budicon-jewelry:before {
    content: "\ec33";
  }
  .budicon-lipstick:before {
    content: "\ec34";
  }
  .budicon-long-pant:before {
    content: "\ec35";
  }
  .budicon-market-sign:before {
    content: "\ec36";
  }
  .budicon-market:before {
    content: "\ec37";
  }
  .budicon-mastercard:before {
    content: "\ec38";
  }
  .budicon-membership-card:before {
    content: "\ec39";
  }
  .budicon-messenger-bag:before {
    content: "\ec3a";
  }
  .budicon-mobile-barcode:before {
    content: "\ec3b";
  }
  .budicon-money-a:before {
    content: "\ec3c";
  }
  .budicon-money:before {
    content: "\ec3d";
  }
  .budicon-packaging:before {
    content: "\ec3e";
  }
  .budicon-parcel:before {
    content: "\ec3f";
  }
  .budicon-price-tag:before {
    content: "\ec40";
  }
  .budicon-purse:before {
    content: "\ec41";
  }
  .budicon-receipt:before {
    content: "\ec42";
  }
  .budicon-search-bill:before {
    content: "\ec43";
  }
  .budicon-shipping:before {
    content: "\ec44";
  }
  .budicon-shirt:before {
    content: "\ec45";
  }
  .budicon-shopping-bag:before {
    content: "\ec46";
  }
  .budicon-shopping-bags:before {
    content: "\ec47";
  }
  .budicon-short-pant:before {
    content: "\ec48";
  }
  .budicon-socks:before {
    content: "\ec49";
  }
  .budicon-tag-cross:before {
    content: "\ec4a";
  }
  .budicon-tag-minus:before {
    content: "\ec4b";
  }
  .budicon-tag-plus:before {
    content: "\ec4c";
  }
  .budicon-tag-search:before {
    content: "\ec4d";
  }
  .budicon-tag-tick:before {
    content: "\ec4e";
  }
  .budicon-tag:before {
    content: "\ec4f";
  }
  .budicon-underpant:before {
    content: "\ec50";
  }
  .budicon-upside-sign:before {
    content: "\ec51";
  }
  .budicon-wallet:before {
    content: "\ec52";
  }
  .budicon-wishlist:before {
    content: "\ec53";
  }
  .budicon-branch-folders:before {
    content: "\ec54";
  }
  .budicon-folder-alert:before {
    content: "\ec55";
  }
  .budicon-folder-back:before {
    content: "\ec56";
  }
  .budicon-folder-block:before {
    content: "\ec57";
  }
  .budicon-folder-cross:before {
    content: "\ec58";
  }
  .budicon-folder-download:before {
    content: "\ec59";
  }
  .budicon-folder-favorite:before {
    content: "\ec5a";
  }
  .budicon-folder-information:before {
    content: "\ec5b";
  }
  .budicon-folder-lock:before {
    content: "\ec5c";
  }
  .budicon-folder-love:before {
    content: "\ec5d";
  }
  .budicon-folder-minus:before {
    content: "\ec5e";
  }
  .budicon-folder-plus:before {
    content: "\ec5f";
  }
  .budicon-folder-question:before {
    content: "\ec60";
  }
  .budicon-folder-sync:before {
    content: "\ec61";
  }
  .budicon-folder-tick:before {
    content: "\ec62";
  }
  .budicon-folder-upload:before {
    content: "\ec63";
  }
  .budicon-folder:before {
    content: "\ec64";
  }
  .budicon-scheduled-folder:before {
    content: "\ec65";
  }
  .budicon-search-folder:before {
    content: "\ec66";
  }
  .budicon-shared-folder:before {
    content: "\ec67";
  }
  .budicon-stack-folders:before {
    content: "\ec68";
  }
  .budicon-all-directions:before {
    content: "\ec69";
  }
  .budicon-arrow-bottom-a:before {
    content: "\ec6a";
  }
  .budicon-arrow-bottom-circle:before {
    content: "\ec6b";
  }
  .budicon-arrow-bottom-left-a:before {
    content: "\ec6c";
  }
  .budicon-arrow-bottom-left-circle:before {
    content: "\ec6d";
  }
  .budicon-arrow-bottom-left:before {
    content: "\ec6e";
  }
  .budicon-arrow-bottom-right-a:before {
    content: "\ec6f";
  }
  .budicon-arrow-bottom-right-circle:before {
    content: "\ec70";
  }
  .budicon-arrow-bottom-right:before {
    content: "\ec71";
  }
  .budicon-arrow-bottom:before {
    content: "\ec72";
  }
  .budicon-arrow-left-a:before {
    content: "\ec73";
  }
  .budicon-arrow-left-circle:before {
    content: "\ec74";
  }
  .budicon-arrow-left-right-a:before {
    content: "\ec75";
  }
  .budicon-arrow-left-right-circle:before {
    content: "\ec76";
  }
  .budicon-arrow-left-right:before {
    content: "\ec77";
  }
  .budicon-arrow-left:before {
    content: "\ec78";
  }
  .budicon-arrow-right-a:before {
    content: "\ec79";
  }
  .budicon-arrow-right-circle:before {
    content: "\ec7a";
  }
  .budicon-arrow-right:before {
    content: "\ec7b";
  }
  .budicon-arrow-top-a:before {
    content: "\ec7c";
  }
  .budicon-arrow-top-circle:before {
    content: "\ec7d";
  }
  .budicon-arrow-top-left-a:before {
    content: "\ec7e";
  }
  .budicon-arrow-top-left-circle:before {
    content: "\ec7f";
  }
  .budicon-arrow-top-left:before {
    content: "\ec80";
  }
  .budicon-arrow-top-right-a:before {
    content: "\ec81";
  }
  .budicon-arrow-top-right-circle:before {
    content: "\ec82";
  }
  .budicon-arrow-top-right:before {
    content: "\ec83";
  }
  .budicon-arrow-top:before {
    content: "\ec84";
  }
  .budicon-arrow-turn-bottom:before {
    content: "\ec85";
  }
  .budicon-arrow-turn-left:before {
    content: "\ec86";
  }
  .budicon-arrow-turn-right:before {
    content: "\ec87";
  }
  .budicon-arrow-turn-up:before {
    content: "\ec88";
  }
  .budicon-arrow-up-down-a:before {
    content: "\ec89";
  }
  .budicon-arrow-up-down-circle:before {
    content: "\ec8a";
  }
  .budicon-arrow-up-down:before {
    content: "\ec8b";
  }
  .budicon-backline-arrow:before {
    content: "\ec8c";
  }
  .budicon-bring-list-down:before {
    content: "\ec8d";
  }
  .budicon-bring-list-up:before {
    content: "\ec8e";
  }
  .budicon-chevron-bottom-a:before {
    content: "\ec8f";
  }
  .budicon-chevron-bottom-circle_1:before {
    content: "\ec90";
  }
  .budicon-chevron-bottom-circle:before {
    content: "\ec91";
  }
  .budicon-chevron-bottom:before {
    content: "\ec92";
  }
  .budicon-chevron-left-a:before {
    content: "\ec93";
  }
  .budicon-chevron-left-circle_1:before {
    content: "\ec94";
  }
  .budicon-chevron-left-circle:before {
    content: "\ec95";
  }
  .budicon-chevron-left:before {
    content: "\ec96";
  }
  .budicon-chevron-right-a:before {
    content: "\ec97";
  }
  .budicon-chevron-right-circle_1:before {
    content: "\ec98";
  }
  .budicon-chevron-right-circle:before {
    content: "\ec99";
  }
  .budicon-chevron-right:before {
    content: "\ec9a";
  }
  .budicon-chevron-top-a:before {
    content: "\ec9b";
  }
  .budicon-chevron-top-circle_1:before {
    content: "\ec9c";
  }
  .budicon-chevron-top-circle:before {
    content: "\ec9d";
  }
  .budicon-chevron-top:before {
    content: "\ec9e";
  }
  .budicon-console-arrow:before {
    content: "\ec9f";
  }
  .budicon-full-loop-arrow:before {
    content: "\eca0";
  }
  .budicon-intersected-arrow:before {
    content: "\eca1";
  }
  .budicon-inward-pointing:before {
    content: "\eca2";
  }
  .budicon-looping-arrow:before {
    content: "\eca3";
  }
  .budicon-outward-pointing:before {
    content: "\eca4";
  }
  .budicon-airpods-a:before {
    content: "\eca5";
  }
  .budicon-airpods:before {
    content: "\eca6";
  }
  .budicon-albums:before {
    content: "\eca7";
  }
  .budicon-analog-radio:before {
    content: "\eca8";
  }
  .budicon-attachment-music:before {
    content: "\eca9";
  }
  .budicon-backward-sign:before {
    content: "\ecaa";
  }
  .budicon-backward:before {
    content: "\ecab";
  }
  .budicon-bluetooth-earphone:before {
    content: "\ecac";
  }
  .budicon-boom-mic-mute:before {
    content: "\ecad";
  }
  .budicon-boom-mic:before {
    content: "\ecae";
  }
  .budicon-boombox:before {
    content: "\ecaf";
  }
  .budicon-cassette:before {
    content: "\ecb0";
  }
  .budicon-cd-case:before {
    content: "\ecb1";
  }
  .budicon-cd:before {
    content: "\ecb2";
  }
  .budicon-earphone:before {
    content: "\ecb3";
  }
  .budicon-eject:before {
    content: "\ecb4";
  }
  .budicon-equalizer-a:before {
    content: "\ecb5";
  }
  .budicon-equalizer:before {
    content: "\ecb6";
  }
  .budicon-forward-sign:before {
    content: "\ecb7";
  }
  .budicon-forward:before {
    content: "\ecb8";
  }
  .budicon-headphone-eq:before {
    content: "\ecb9";
  }
  .budicon-headphones-a:before {
    content: "\ecba";
  }
  .budicon-headphones:before {
    content: "\ecbb";
  }
  .budicon-in-ear-headphones:before {
    content: "\ecbc";
  }
  .budicon-ipod:before {
    content: "\ecbd";
  }
  .budicon-melody:before {
    content: "\ecbe";
  }
  .budicon-microphone-wireless:before {
    content: "\ecbf";
  }
  .budicon-music-album:before {
    content: "\ecc0";
  }
  .budicon-music-file:before {
    content: "\ecc1";
  }
  .budicon-music-setting:before {
    content: "\ecc2";
  }
  .budicon-next-sign:before {
    content: "\ecc3";
  }
  .budicon-next-song:before {
    content: "\ecc4";
  }
  .budicon-pause-sign-a:before {
    content: "\ecc5";
  }
  .budicon-pause-sign:before {
    content: "\ecc6";
  }
  .budicon-pause:before {
    content: "\ecc7";
  }
  .budicon-piano:before {
    content: "\ecc8";
  }
  .budicon-play-loop:before {
    content: "\ecc9";
  }
  .budicon-play-sign:before {
    content: "\ecca";
  }
  .budicon-play:before {
    content: "\eccb";
  }
  .budicon-playlist-a:before {
    content: "\eccc";
  }
  .budicon-playlist-b:before {
    content: "\eccd";
  }
  .budicon-playlist:before {
    content: "\ecce";
  }
  .budicon-previous-sign:before {
    content: "\eccf";
  }
  .budicon-previous-song:before {
    content: "\ecd0";
  }
  .budicon-radio:before {
    content: "\ecd1";
  }
  .budicon-record-sign:before {
    content: "\ecd2";
  }
  .budicon-repeat-album:before {
    content: "\ecd3";
  }
  .budicon-repeat-one:before {
    content: "\ecd4";
  }
  .budicon-repeat:before {
    content: "\ecd5";
  }
  .budicon-rock:before {
    content: "\ecd6";
  }
  .budicon-shuffle:before {
    content: "\ecd7";
  }
  .budicon-song-note-tail:before {
    content: "\ecd8";
  }
  .budicon-song-note:before {
    content: "\ecd9";
  }
  .budicon-song-notes-a:before {
    content: "\ecda";
  }
  .budicon-song-notes:before {
    content: "\ecdb";
  }
  .budicon-sound:before {
    content: "\ecdc";
  }
  .budicon-speaker:before {
    content: "\ecdd";
  }
  .budicon-stop-sign:before {
    content: "\ecde";
  }
  .budicon-stop:before {
    content: "\ecdf";
  }
  .budicon-vintage-microphone-big:before {
    content: "\ece0";
  }
  .budicon-vintage-microphone:before {
    content: "\ece1";
  }
  .budicon-vol-high:before {
    content: "\ece2";
  }
  .budicon-vol-low:before {
    content: "\ece3";
  }
  .budicon-vol-med:before {
    content: "\ece4";
  }
  .budicon-vol-mute:before {
    content: "\ece5";
  }
  .budicon-volume-low:before {
    content: "\ece6";
  }
  .budicon-volume-mute-a:before {
    content: "\ece7";
  }
  .budicon-volume-mute:before {
    content: "\ece8";
  }
  .budicon-volume-strong:before {
    content: "\ece9";
  }
  .budicon-vynil:before {
    content: "\ecea";
  }
  .budicon-woofer:before {
    content: "\eceb";
  }
  .budicon-smart-watch-add:before {
    content: "\ecec";
  }
  .budicon-smart-watch-bell:before {
    content: "\eced";
  }
  .budicon-smart-watch-block:before {
    content: "\ecee";
  }
  .budicon-smart-watch-call:before {
    content: "\ecef";
  }
  .budicon-smart-watch-chat:before {
    content: "\ecf0";
  }
  .budicon-smart-watch-dialog:before {
    content: "\ecf1";
  }
  .budicon-smart-watch-download:before {
    content: "\ecf2";
  }
  .budicon-smart-watch-finish:before {
    content: "\ecf3";
  }
  .budicon-smart-watch-location:before {
    content: "\ecf4";
  }
  .budicon-smart-watch-lock:before {
    content: "\ecf5";
  }
  .budicon-smart-watch-love:before {
    content: "\ecf6";
  }
  .budicon-smart-watch-mail:before {
    content: "\ecf7";
  }
  .budicon-smart-watch-mic:before {
    content: "\ecf8";
  }
  .budicon-smart-watch-music:before {
    content: "\ecf9";
  }
  .budicon-smart-watch-power:before {
    content: "\ecfa";
  }
  .budicon-smart-watch-progress:before {
    content: "\ecfb";
  }
  .budicon-smart-watch-rate:before {
    content: "\ecfc";
  }
  .budicon-smart-watch-rss:before {
    content: "\ecfd";
  }
  .budicon-smart-watch-sad:before {
    content: "\ecfe";
  }
  .budicon-smart-watch-search:before {
    content: "\ecff";
  }
  .budicon-smart-watch-smile:before {
    content: "\ed00";
  }
  .budicon-smart-watch-statistic:before {
    content: "\ed01";
  }
  .budicon-smart-watch-upload:before {
    content: "\ed02";
  }
  .budicon-smart-watch-user:before {
    content: "\ed03";
  }
  .budicon-smart-watch-video:before {
    content: "\ed04";
  }
  .budicon-smart-watch-volume:before {
    content: "\ed05";
  }
  .budicon-smart-watch:before {
    content: "\ed06";
  }
  .budicon-alarm:before {
    content: "\ed07";
  }
  .budicon-alert:before {
    content: "\ed08";
  }
  .budicon-backward-time:before {
    content: "\ed09";
  }
  .budicon-bell:before {
    content: "\ed0a";
  }
  .budicon-calendar-alert:before {
    content: "\ed0b";
  }
  .budicon-calendar-block:before {
    content: "\ed0c";
  }
  .budicon-calendar-cross:before {
    content: "\ed0d";
  }
  .budicon-calendar-dating:before {
    content: "\ed0e";
  }
  .budicon-calendar-download:before {
    content: "\ed0f";
  }
  .budicon-calendar-favorite:before {
    content: "\ed10";
  }
  .budicon-calendar-information:before {
    content: "\ed11";
  }
  .budicon-calendar-lock:before {
    content: "\ed12";
  }
  .budicon-calendar-minus:before {
    content: "\ed13";
  }
  .budicon-calendar-plus:before {
    content: "\ed14";
  }
  .budicon-calendar-tick:before {
    content: "\ed15";
  }
  .budicon-calendar-upload:before {
    content: "\ed16";
  }
  .budicon-calendar:before {
    content: "\ed17";
  }
  .budicon-dashboard2:before {
    content: "\ed18";
  }
  .budicon-events:before {
    content: "\ed19";
  }
  .budicon-fast:before {
    content: "\ed1a";
  }
  .budicon-find-event:before {
    content: "\ed1b";
  }
  .budicon-forward-time:before {
    content: "\ed1c";
  }
  .budicon-hourglass:before {
    content: "\ed1d";
  }
  .budicon-normal-speed:before {
    content: "\ed1e";
  }
  .budicon-schedule:before {
    content: "\ed1f";
  }
  .budicon-share-calendar:before {
    content: "\ed20";
  }
  .budicon-slow:before {
    content: "\ed21";
  }
  .budicon-snooze:before {
    content: "\ed22";
  }
  .budicon-stopwatch-digital:before {
    content: "\ed23";
  }
  .budicon-stopwatch-half:before {
    content: "\ed24";
  }
  .budicon-stopwatch:before {
    content: "\ed25";
  }
  .budicon-time:before {
    content: "\ed26";
  }
  .budicon-timer:before {
    content: "\ed27";
  }
  .budicon-tomorrow:before {
    content: "\ed28";
  }
  .budicon-vintage-wall-clock:before {
    content: "\ed29";
  }
  .budicon-wall-clock:before {
    content: "\ed2a";
  }
  .budicon-watch:before {
    content: "\ed2b";
  }
  .budicon-yesterday:before {
    content: "\ed2c";
  }
  .budicon-attachment-file:before {
    content: "\ed2d";
  }
  .budicon-attachment:before {
    content: "\ed2e";
  }
  .budicon-book:before {
    content: "\ed2f";
  }
  .budicon-booklet:before {
    content: "\ed30";
  }
  .budicon-bookmark-a:before {
    content: "\ed31";
  }
  .budicon-bookmark:before {
    content: "\ed32";
  }
  .budicon-box-file-alert:before {
    content: "\ed33";
  }
  .budicon-box-file-block:before {
    content: "\ed34";
  }
  .budicon-box-file-cross:before {
    content: "\ed35";
  }
  .budicon-box-file-download:before {
    content: "\ed36";
  }
  .budicon-box-file-favorite:before {
    content: "\ed37";
  }
  .budicon-box-file-heart:before {
    content: "\ed38";
  }
  .budicon-box-file-index:before {
    content: "\ed39";
  }
  .budicon-box-file-information:before {
    content: "\ed3a";
  }
  .budicon-box-file-lock:before {
    content: "\ed3b";
  }
  .budicon-box-file-minus:before {
    content: "\ed3c";
  }
  .budicon-box-file-plus:before {
    content: "\ed3d";
  }
  .budicon-box-file-search:before {
    content: "\ed3e";
  }
  .budicon-box-file-tick:before {
    content: "\ed3f";
  }
  .budicon-box-file-upload:before {
    content: "\ed40";
  }
  .budicon-box-file:before {
    content: "\ed41";
  }
  .budicon-compressed-file:before {
    content: "\ed42";
  }
  .budicon-doc-attachment:before {
    content: "\ed43";
  }
  .budicon-doc-marker:before {
    content: "\ed44";
  }
  .budicon-file-alert:before {
    content: "\ed45";
  }
  .budicon-file-blank:before {
    content: "\ed46";
  }
  .budicon-file-block:before {
    content: "\ed47";
  }
  .budicon-file-cross:before {
    content: "\ed48";
  }
  .budicon-file-download:before {
    content: "\ed49";
  }
  .budicon-file-favorite:before {
    content: "\ed4a";
  }
  .budicon-file-heart:before {
    content: "\ed4b";
  }
  .budicon-file-information:before {
    content: "\ed4c";
  }
  .budicon-file-lock:before {
    content: "\ed4d";
  }
  .budicon-file-minus:before {
    content: "\ed4e";
  }
  .budicon-file-plus:before {
    content: "\ed4f";
  }
  .budicon-file-question:before {
    content: "\ed50";
  }
  .budicon-file-tick:before {
    content: "\ed51";
  }
  .budicon-file-upload:before {
    content: "\ed52";
  }
  .budicon-file:before {
    content: "\ed53";
  }
  .budicon-files-alert:before {
    content: "\ed54";
  }
  .budicon-files-block:before {
    content: "\ed55";
  }
  .budicon-files-cross:before {
    content: "\ed56";
  }
  .budicon-files-download:before {
    content: "\ed57";
  }
  .budicon-files-favorite:before {
    content: "\ed58";
  }
  .budicon-files-heart:before {
    content: "\ed59";
  }
  .budicon-files-information:before {
    content: "\ed5a";
  }
  .budicon-files-lock:before {
    content: "\ed5b";
  }
  .budicon-files-minus:before {
    content: "\ed5c";
  }
  .budicon-files-plus:before {
    content: "\ed5d";
  }
  .budicon-files-search:before {
    content: "\ed5e";
  }
  .budicon-files-tick:before {
    content: "\ed5f";
  }
  .budicon-files-upload:before {
    content: "\ed60";
  }
  .budicon-folded-page:before {
    content: "\ed61";
  }
  .budicon-headline:before {
    content: "\ed62";
  }
  .budicon-image-file:before {
    content: "\ed63";
  }
  .budicon-landscape-page:before {
    content: "\ed64";
  }
  .budicon-legal-file:before {
    content: "\ed65";
  }
  .budicon-newspaper:before {
    content: "\ed66";
  }
  .budicon-notepad:before {
    content: "\ed67";
  }
  .budicon-opened-book:before {
    content: "\ed68";
  }
  .budicon-project-file-alert:before {
    content: "\ed69";
  }
  .budicon-project-file-block:before {
    content: "\ed6a";
  }
  .budicon-project-file-cross:before {
    content: "\ed6b";
  }
  .budicon-project-file-download:before {
    content: "\ed6c";
  }
  .budicon-project-file-favorite:before {
    content: "\ed6d";
  }
  .budicon-project-file-heart:before {
    content: "\ed6e";
  }
  .budicon-project-file-information:before {
    content: "\ed6f";
  }
  .budicon-project-file-lock:before {
    content: "\ed70";
  }
  .budicon-project-file-minus:before {
    content: "\ed71";
  }
  .budicon-project-file-plus:before {
    content: "\ed72";
  }
  .budicon-project-file-search:before {
    content: "\ed73";
  }
  .budicon-project-file-tick:before {
    content: "\ed74";
  }
  .budicon-project-file-upload:before {
    content: "\ed75";
  }
  .budicon-project-file:before {
    content: "\ed76";
  }
  .budicon-scan-page:before {
    content: "\ed77";
  }
  .budicon-scheduled-box-file:before {
    content: "\ed78";
  }
  .budicon-scheduled-file:before {
    content: "\ed79";
  }
  .budicon-scheduled-files:before {
    content: "\ed7a";
  }
  .budicon-scheduled-project-file:before {
    content: "\ed7b";
  }
  .budicon-search-file:before {
    content: "\ed7c";
  }
  .budicon-shared-box-file:before {
    content: "\ed7d";
  }
  .budicon-shared-file:before {
    content: "\ed7e";
  }
  .budicon-shared-files:before {
    content: "\ed7f";
  }
  .budicon-shared-project-file:before {
    content: "\ed80";
  }
  .budicon-single-page:before {
    content: "\ed81";
  }
  .budicon-two-page:before {
    content: "\ed82";
  }
  .budicon-zip-file:before {
    content: "\ed83";
  }
  .budicon-atm:before {
    content: "\ed84";
  }
  .budicon-attachment-dollar:before {
    content: "\ed85";
  }
  .budicon-bad-trends:before {
    content: "\ed86";
  }
  .budicon-bank-a:before {
    content: "\ed87";
  }
  .budicon-bubble-chart:before {
    content: "\ed88";
  }
  .budicon-cash-dollar:before {
    content: "\ed89";
  }
  .budicon-cash:before {
    content: "\ed8a";
  }
  .budicon-dollar-sign:before {
    content: "\ed8b";
  }
  .budicon-donation:before {
    content: "\ed8c";
  }
  .budicon-donut-chart:before {
    content: "\ed8d";
  }
  .budicon-euro:before {
    content: "\ed8e";
  }
  .budicon-finance-policy:before {
    content: "\ed8f";
  }
  .budicon-finance-project:before {
    content: "\ed90";
  }
  .budicon-good-trends:before {
    content: "\ed91";
  }
  .budicon-graphic-moderate-a:before {
    content: "\ed92";
  }
  .budicon-graphic-moderate:before {
    content: "\ed93";
  }
  .budicon-graphic-up-a:before {
    content: "\ed94";
  }
  .budicon-graphic-up:before {
    content: "\ed95";
  }
  .budicon-horizontal-graphic:before {
    content: "\ed96";
  }
  .budicon-line-chart:before {
    content: "\ed97";
  }
  .budicon-mobile-banking:before {
    content: "\ed98";
  }
  .budicon-mobile-payment:before {
    content: "\ed99";
  }
  .budicon-online-stock:before {
    content: "\ed9a";
  }
  .budicon-performance-board-a:before {
    content: "\ed9b";
  }
  .budicon-performance-board-minus:before {
    content: "\ed9c";
  }
  .budicon-performance-board-plus:before {
    content: "\ed9d";
  }
  .budicon-performance-board-tick:before {
    content: "\ed9e";
  }
  .budicon-performance-board:before {
    content: "\ed9f";
  }
  .budicon-pie-chart-a:before {
    content: "\eda0";
  }
  .budicon-pie-chart:before {
    content: "\eda1";
  }
  .budicon-portfolio:before {
    content: "\eda2";
  }
  .budicon-poundsterling:before {
    content: "\eda3";
  }
  .budicon-presentation-slide-a:before {
    content: "\eda4";
  }
  .budicon-presentation-slide:before {
    content: "\eda5";
  }
  .budicon-refund-dollar:before {
    content: "\eda6";
  }
  .budicon-refund:before {
    content: "\eda7";
  }
  .budicon-safe-case:before {
    content: "\eda8";
  }
  .budicon-savings:before {
    content: "\eda9";
  }
  .budicon-send-dollar:before {
    content: "\edaa";
  }
  .budicon-send-money:before {
    content: "\edab";
  }
  .budicon-web-banking:before {
    content: "\edac";
  }
  .budicon-withdraw-dollar:before {
    content: "\edad";
  }
  .budicon-withdraw-money:before {
    content: "\edae";
  }
  .budicon-yen:before {
    content: "\edaf";
  }
  .budicon-apartment-a:before {
    content: "\edb0";
  }
  .budicon-apartment:before {
    content: "\edb1";
  }
  .budicon-bank:before {
    content: "\edb2";
  }
  .budicon-barn:before {
    content: "\edb3";
  }
  .budicon-business-area:before {
    content: "\edb4";
  }
  .budicon-church:before {
    content: "\edb5";
  }
  .budicon-city:before {
    content: "\edb6";
  }
  .budicon-garage:before {
    content: "\edb7";
  }
  .budicon-golden-bridge:before {
    content: "\edb8";
  }
  .budicon-government:before {
    content: "\edb9";
  }
  .budicon-high-building:before {
    content: "\edba";
  }
  .budicon-hotel-tower:before {
    content: "\edbb";
  }
  .budicon-house-a:before {
    content: "\edbc";
  }
  .budicon-house:before {
    content: "\edbd";
  }
  .budicon-lighthouse:before {
    content: "\edbe";
  }
  .budicon-log-house:before {
    content: "\edbf";
  }
  .budicon-mall:before {
    content: "\edc0";
  }
  .budicon-mansion:before {
    content: "\edc1";
  }
  .budicon-modern-office:before {
    content: "\edc2";
  }
  .budicon-school:before {
    content: "\edc3";
  }
  .budicon-female-user-block:before {
    content: "\edc4";
  }
  .budicon-female-user-cross:before {
    content: "\edc5";
  }
  .budicon-female-user-favorite:before {
    content: "\edc6";
  }
  .budicon-female-user-information:before {
    content: "\edc7";
  }
  .budicon-female-user-lock:before {
    content: "\edc8";
  }
  .budicon-female-user-minus:before {
    content: "\edc9";
  }
  .budicon-female-user-plus:before {
    content: "\edca";
  }
  .budicon-female-user-search:before {
    content: "\edcb";
  }
  .budicon-female-user-tick:before {
    content: "\edcc";
  }
  .budicon-female-user:before {
    content: "\edcd";
  }
  .budicon-female:before {
    content: "\edce";
  }
  .budicon-gender:before {
    content: "\edcf";
  }
  .budicon-group:before {
    content: "\edd0";
  }
  .budicon-male:before {
    content: "\edd1";
  }
  .budicon-password-lock:before {
    content: "\edd2";
  }
  .budicon-password-unlock:before {
    content: "\edd3";
  }
  .budicon-profile-picture:before {
    content: "\edd4";
  }
  .budicon-shared-user:before {
    content: "\edd5";
  }
  .budicon-user-a:before {
    content: "\edd6";
  }
  .budicon-user-b:before {
    content: "\edd7";
  }
  .budicon-user-block-a:before {
    content: "\edd8";
  }
  .budicon-user-block-b:before {
    content: "\edd9";
  }
  .budicon-user-block-c:before {
    content: "\edda";
  }
  .budicon-user-block:before {
    content: "\eddb";
  }
  .budicon-user-c:before {
    content: "\eddc";
  }
  .budicon-user-card-a:before {
    content: "\eddd";
  }
  .budicon-user-card:before {
    content: "\edde";
  }
  .budicon-user-cross-a:before {
    content: "\eddf";
  }
  .budicon-user-cross-b:before {
    content: "\ede0";
  }
  .budicon-user-cross-c:before {
    content: "\ede1";
  }
  .budicon-user-cross:before {
    content: "\ede2";
  }
  .budicon-user-favorite-a:before {
    content: "\ede3";
  }
  .budicon-user-favorite-b:before {
    content: "\ede4";
  }
  .budicon-user-favorite-c:before {
    content: "\ede5";
  }
  .budicon-user-favorite:before {
    content: "\ede6";
  }
  .budicon-user-information-a:before {
    content: "\ede7";
  }
  .budicon-user-information-b:before {
    content: "\ede8";
  }
  .budicon-user-information-c:before {
    content: "\ede9";
  }
  .budicon-user-information:before {
    content: "\edea";
  }
  .budicon-user-list-a:before {
    content: "\edeb";
  }
  .budicon-user-list-b:before {
    content: "\edec";
  }
  .budicon-user-list-c:before {
    content: "\eded";
  }
  .budicon-user-list-d:before {
    content: "\edee";
  }
  .budicon-user-lock-a:before {
    content: "\edef";
  }
  .budicon-user-lock-b:before {
    content: "\edf0";
  }
  .budicon-user-lock-c:before {
    content: "\edf1";
  }
  .budicon-user-lock:before {
    content: "\edf2";
  }
  .budicon-user-minus-a:before {
    content: "\edf3";
  }
  .budicon-user-minus-b:before {
    content: "\edf4";
  }
  .budicon-user-minus-c:before {
    content: "\edf5";
  }
  .budicon-user-minus:before {
    content: "\edf6";
  }
  .budicon-user-plus-a:before {
    content: "\edf7";
  }
  .budicon-user-plus-b:before {
    content: "\edf8";
  }
  .budicon-user-plus-c:before {
    content: "\edf9";
  }
  .budicon-user-plus:before {
    content: "\edfa";
  }
  .budicon-user-search-a:before {
    content: "\edfb";
  }
  .budicon-user-search-b:before {
    content: "\edfc";
  }
  .budicon-user-search-c:before {
    content: "\edfd";
  }
  .budicon-user-search:before {
    content: "\edfe";
  }
  .budicon-user-tick-a:before {
    content: "\edff";
  }
  .budicon-user-tick-b:before {
    content: "\ee00";
  }
  .budicon-user-tick-c:before {
    content: "\ee01";
  }
  .budicon-user-tick:before {
    content: "\ee02";
  }
  .budicon-user:before {
    content: "\ee03";
  }
  .budicon-air-craft:before {
    content: "\ee04";
  }
  .budicon-airplane:before {
    content: "\ee05";
  }
  .budicon-arrival:before {
    content: "\ee06";
  }
  .budicon-bag-trolley:before {
    content: "\ee07";
  }
  .budicon-beach:before {
    content: "\ee08";
  }
  .budicon-bicycle:before {
    content: "\ee09";
  }
  .budicon-big-motorcycles:before {
    content: "\ee0a";
  }
  .budicon-bus-front:before {
    content: "\ee0b";
  }
  .budicon-bus:before {
    content: "\ee0c";
  }
  .budicon-cabin-bag:before {
    content: "\ee0d";
  }
  .budicon-cable-car:before {
    content: "\ee0e";
  }
  .budicon-camping:before {
    content: "\ee0f";
  }
  .budicon-car-front:before {
    content: "\ee10";
  }
  .budicon-compass-a:before {
    content: "\ee11";
  }
  .budicon-compass-b:before {
    content: "\ee12";
  }
  .budicon-compass:before {
    content: "\ee13";
  }
  .budicon-cruise:before {
    content: "\ee14";
  }
  .budicon-departure:before {
    content: "\ee15";
  }
  .budicon-direction:before {
    content: "\ee16";
  }
  .budicon-electric-cord:before {
    content: "\ee17";
  }
  .budicon-electric-station:before {
    content: "\ee18";
  }
  .budicon-first-aid:before {
    content: "\ee19";
  }
  .budicon-fishing-boat:before {
    content: "\ee1a";
  }
  .budicon-footstep:before {
    content: "\ee1b";
  }
  .budicon-forest:before {
    content: "\ee1c";
  }
  .budicon-fuel-tank:before {
    content: "\ee1d";
  }
  .budicon-gas-station:before {
    content: "\ee1e";
  }
  .budicon-globe:before {
    content: "\ee1f";
  }
  .budicon-helicopter:before {
    content: "\ee20";
  }
  .budicon-hiking:before {
    content: "\ee21";
  }
  .budicon-hotel:before {
    content: "\ee22";
  }
  .budicon-international-travel:before {
    content: "\ee23";
  }
  .budicon-iron:before {
    content: "\ee24";
  }
  .budicon-jet-ski:before {
    content: "\ee25";
  }
  .budicon-location-area:before {
    content: "\ee26";
  }
  .budicon-location-finished:before {
    content: "\ee27";
  }
  .budicon-location-pin-love:before {
    content: "\ee28";
  }
  .budicon-location-pin-minus:before {
    content: "\ee29";
  }
  .budicon-location-pin-plus:before {
    content: "\ee2a";
  }
  .budicon-location-pin-tick:before {
    content: "\ee2b";
  }
  .budicon-location-pin:before {
    content: "\ee2c";
  }
  .budicon-location:before {
    content: "\ee2d";
  }
  .budicon-luggage:before {
    content: "\ee2e";
  }
  .budicon-map:before {
    content: "\ee2f";
  }
  .budicon-motorcycle:before {
    content: "\ee30";
  }
  .budicon-multiple-destinations:before {
    content: "\ee31";
  }
  .budicon-navigation:before {
    content: "\ee32";
  }
  .budicon-parking-meter:before {
    content: "\ee33";
  }
  .budicon-passport:before {
    content: "\ee34";
  }
  .budicon-plugs-a:before {
    content: "\ee35";
  }
  .budicon-plugs:before {
    content: "\ee36";
  }
  .budicon-pocket-knife:before {
    content: "\ee37";
  }
  .budicon-power-cord:before {
    content: "\ee38";
  }
  .budicon-propeller-airplane:before {
    content: "\ee39";
  }
  .budicon-sailing-boat:before {
    content: "\ee3a";
  }
  .budicon-sandals:before {
    content: "\ee3b";
  }
  .budicon-sedan-front:before {
    content: "\ee3c";
  }
  .budicon-sedan:before {
    content: "\ee3d";
  }
  .budicon-self-navigation:before {
    content: "\ee3e";
  }
  .budicon-sightseeing:before {
    content: "\ee3f";
  }
  .budicon-small-bike:before {
    content: "\ee40";
  }
  .budicon-sun:before {
    content: "\ee41";
  }
  .budicon-sunblock:before {
    content: "\ee42";
  }
  .budicon-surf:before {
    content: "\ee43";
  }
  .budicon-taxi:before {
    content: "\ee44";
  }
  .budicon-tracks:before {
    content: "\ee45";
  }
  .budicon-traffic-light:before {
    content: "\ee46";
  }
  .budicon-train-front:before {
    content: "\ee47";
  }
  .budicon-travel-bag:before {
    content: "\ee48";
  }
  .budicon-travel-case:before {
    content: "\ee49";
  }
  .budicon-travel-ticket:before {
    content: "\ee4a";
  }
  .budicon-van:before {
    content: "\ee4b";
  }
  .budicon-vespa:before {
    content: "\ee4c";
  }
  .budicon-vintage-car:before {
    content: "\ee4d";
  }
  .budicon-bear:before {
    content: "\ee4e";
  }
  .budicon-beaver:before {
    content: "\ee4f";
  }
  .budicon-cat-front:before {
    content: "\ee50";
  }
  .budicon-chicken:before {
    content: "\ee51";
  }
  .budicon-clamp:before {
    content: "\ee52";
  }
  .budicon-clown-fish:before {
    content: "\ee53";
  }
  .budicon-cow-a:before {
    content: "\ee54";
  }
  .budicon-cow:before {
    content: "\ee55";
  }
  .budicon-crab:before {
    content: "\ee56";
  }
  .budicon-dog-front:before {
    content: "\ee57";
  }
  .budicon-dog:before {
    content: "\ee58";
  }
  .budicon-duck:before {
    content: "\ee59";
  }
  .budicon-fish:before {
    content: "\ee5a";
  }
  .budicon-fox:before {
    content: "\ee5b";
  }
  .budicon-frog:before {
    content: "\ee5c";
  }
  .budicon-gorilla:before {
    content: "\ee5d";
  }
  .budicon-hedgehog:before {
    content: "\ee5e";
  }
  .budicon-hippo:before {
    content: "\ee5f";
  }
  .budicon-husky:before {
    content: "\ee60";
  }
  .budicon-jellyfish:before {
    content: "\ee61";
  }
  .budicon-lion:before {
    content: "\ee62";
  }
  .budicon-monkey:before {
    content: "\ee63";
  }
  .budicon-mouse-front:before {
    content: "\ee64";
  }
  .budicon-mouse:before {
    content: "\ee65";
  }
  .budicon-otter:before {
    content: "\ee66";
  }
  .budicon-panda:before {
    content: "\ee67";
  }
  .budicon-panther:before {
    content: "\ee68";
  }
  .budicon-pig:before {
    content: "\ee69";
  }
  .budicon-polar-bear:before {
    content: "\ee6a";
  }
  .budicon-rabbit:before {
    content: "\ee6b";
  }
  .budicon-sardine:before {
    content: "\ee6c";
  }
  .budicon-seal:before {
    content: "\ee6d";
  }
  .budicon-shark:before {
    content: "\ee6e";
  }
  .budicon-shrimp:before {
    content: "\ee6f";
  }
  .budicon-sloth:before {
    content: "\ee70";
  }
  .budicon-snail:before {
    content: "\ee71";
  }
  .budicon-squirrel:before {
    content: "\ee72";
  }
  .budicon-sympanse:before {
    content: "\ee73";
  }
  .budicon-tiger:before {
    content: "\ee74";
  }
  .budicon-whale:before {
    content: "\ee75";
  }
  


/* TOPNAV */

  section.topnav {
    max-height: 40px;
    width: 100%;
    background-color: #607D8B;
    padding-left: 1%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
}

section.topnav .logo-link {
    cursor: pointer;
    transition: opacity .3s;
}

section.topnav .logo-link:hover {
    opacity: .6;
}

section.topnav img.logo {
    height: 60px;
}

section.topnav ul {
    margin-right: 0;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.topnav ul li {
    -webkit-transition: opacity 0.5s 1.1s, top 0.5s 1.1s;
    transition: opacity 0.5s 1.1s, top 0.5s 1.1s;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 3px;
    padding: 3px;
}

section.topnav ul li.active {
    background-color: #70909e;
}

section.topnav ul li a i {
    transition: opacity 0.3s;
    height: 22px;
}

section.topnav ul li a i:hover  {
    opacity: 0.5;
}

/* SIDENAV */

section.sidenav {
    top: 40px;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    height: calc(100vh - 40px);
    position: fixed;
    background: #263238;
    background: -webkit-gradient(linear, left bottom, left top, from(#37474F), to(#263238));
    background: linear-gradient(to top, #37474F, #263238);
    z-index: 3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section.sidenav ul {
    padding-top: 25px;
}

section.sidenav ul li a {
    color: white;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .3s;
}

section.sidenav ul li a:hover {
    opacity: .6;
}

section.sidenav ul li a i {
    margin-right: 8px;
}

section.sidenav ul li a i:before {
    font-size: 14px;
}

section.sidenav ul li a span.count {
    font-size: 10px;
    background-color: red;
    line-height: 17px;
    text-align: center;
    position: absolute;
    right: -10px;
    top: -3px;
    border-radius: 50%;
    font-family: arial;
    font-weight: bold;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 17px;
}

main {
    top: 40px;
    padding: 0;
    min-height: calc(100vh - 40px);
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
    margin-right: 0;
    height: auto;
    overflow: auto;
    background: -webkit-gradient(linear, left bottom, left top, from(#CFD8DC), to(#ffffff));
    background: linear-gradient(to top, #CFD8DC, #ffffff);
    width: 100vw;
    padding-left: 150px;
}

.secondarynav {
    width: 300px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left bottom, left top, from(#37474F), to(#455A64));
    background: linear-gradient(to top, #37474F, #455A64);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 1s;
    transition: all 1s;
    display: flex;
    position: relative;
    width: 300px;
    z-index: 3;
    height: auto;
    min-height: calc(100vh - 40px);
    color: white;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 18px 10px 18px;
}

.form-control:focus {
    border: 1px solid #0075BF;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #2c2c2c;

    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.nav-tabs>.nav-item>.nav-link {
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    display: block;
}


.nav-tabs>.nav-item>.nav-link {
    color: #FFFFFF;
    padding: 5px 12px;
    cursor: pointer;
    transition: opacity .3s;
}

.nav-tabs>.nav-item>.nav-link:hover {
    opacity: .6;
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}
    