<button class="btn btn-primary">Default</button>
<button class="btn btn-primary btn-round">Round</button>
<button class="btn btn-primary btn-round">
	<i class="budicon-profile-picture"></i> With Icon
</button>
<button class="btn btn-primary btn-icon  btn-icon-mini btn-round">
	<i class="budicon-profile-picture"></i>
</button>
<button class="btn btn-primary btn-simple">Simple</button>
<button type="submit">Non-Bootstrap</button>